@use "sass:math";
@use "sass:map";
@use "../variables" as *;

@function fluid($min: 10, $max: 100) {
  $maxViewportWidth: 1920;
  $minViewportWidth: 390;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(#{$minSize}rem, #{$yAxisIntersection}rem + #{$slope * 100}vw, #{$maxSize}rem);
}

@function getColor($name) {
  @return map.get($colors, $name);
}

@function getFontSize($name) {
  @return fluid(map.get($fontSizes, $name + "-min"), map.get($fontSizes, $name + "-max"));
}
