@use "../helpers" as *;

.mainFooter {
  display: flex;
  justify-content: space-between;

  margin-left: 67px;
  margin-right: 56px;
  margin-bottom: 101px;
}

.text {
  font-family: "Gilroy";
  font-size: var(--desk-font-size-all-rights-resereved);
  font-weight: 500;
  letter-spacing: 0.02em;

  color: var(--color-white);
}
