@use "../helpers" as *;

.mainHeader {
  position: absolute;
  top: 0;
  left: 0;

  margin-top: 53px;
  margin-left: 60px;
  margin-right: 123px;

  z-index: 3;
}

.mainNav {
  display: grid;
  place-items: center;
  grid-template-areas: "mainNavList . favourites . auth . cart";
  grid-template-columns: auto minmax(18px, 247px) auto minmax(18px, 35px) auto minmax(18px, 36px) auto;

  color: var(--color-white);
}

.mainNavList {
  display: grid;
  place-items: center;
  grid-template-areas: "logo . catalog . blog . contacts . search";
  grid-template-columns: max-content minmax(18px, 133px) auto minmax(18px, 387px) auto minmax(18px, 30px) auto minmax(18px, 386px) auto;
}

.navLink {
  @include flex-center;
  gap: 12px;

  background-color: transparent;
  color: var(--color-white);
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 500;
  font-size: var(--desk-font-size-text);
}

.navButton {
  display: flex;
  background-color: transparent;
}

.logo {
  font-family: "Le Murmure", sans-serif;
  font-weight: 600;
  font-size: var(--desk-font-size-logo);

  line-height: 1em;

  grid-area: logo;
}

.catalog {
  grid-area: catalog;
}

.navBlog {
  grid-area: blog;
}

.contacts {
  grid-area: contacts;
}

.search {
  grid-area: search;
}

.favourites {
  position: relative;
  grid-area: favourites;
}

.auth {
  grid-area: auth;
}

.cart {
  position: relative;
  grid-area: cart;
}

.itemsQuanity {
  position: absolute;
  right: -7px;
  bottom: -2px;

  font-family: "Euclid Circular A";
  font-size: 13px;
  font-weight: 700;
  color: var(--color-white);

  &.empty {
    display: none;
  }
}
