.searchResults {
  display: flex;
  flex-direction: column;
  gap: 118px;

  margin: 280px 60px 0;

  .currency {
    color: var(--color-white);
  }

  h2:not(:nth-child(1)),
  p {
    text-align: center;
  }

  &.noresults {
    margin-top: 362px;
    gap: 156px;

    h2 {
      font-family: "Euclid Circular A";
      font-weight: 500;
      font-size: var(--desk-font-size-h2);
      color: var(--color-white);
    }

    span {
      font-family: "Floreste";
      font-weight: 400;
      font-size: var(--desk-font-size-background);
      text-align: center;
      text-transform: uppercase;
      color: var(--color-lavender-semi-transparent);
    }

    img {
      position: absolute;
      top: 620px;
      left: 47.7%;
      width: 195px;
    }
  }
}
