@use "../helpers" as *;

.searchResults {
  display: flex;
  flex-direction: column;
  gap: fluid(45, 118);
  margin: fluid(190, 250) fluid(15, 60) 0;

  .currency {
    color: getColor("white");
  }

  .productHr {
    height: 2px;
  }

  .product > div:nth-child(3) {
    display: flex;
    flex-direction: column;

    > div:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 11px;
      margin-bottom: 7px;
    }

    p {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: fluid(9, 11);
      margin-bottom: fluid(15, 19);
      line-height: fluid(20, 23);
      font-size: fluid(13, 15);
    }
  }

  h2 {
    font-size: fluid(15, 28);
    line-height: 100%;
  }

  .imgWrapper {
    height: fluid(120, 260);
  }

  .color.inline {
    position: static;
    display: none;

    width: 18px;
    height: 18px;
  }

  &.noresults {
    gap: fluid(82, 156);
    span {
      font-family: "Floreste";
      font-weight: 400;
      font-size: fluid(100, 212);
      text-align: center;
      text-transform: uppercase;
      color: getColor("lavender-light-0.6");
    }

    img {
      position: absolute;
      top: fluid(332, 620);
      left: fluid(131, 916);
      width: 195px;
    }
  }
}

@media (width < 716px) {
  .searchResults {
    margin-bottom: 107px;
    .productsList {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      max-height: none;

      .product {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: fit-content;

        > div:nth-child(3) {
          display: flex;
          flex-direction: column;
          width: fluid(293, 1300);

          > div:nth-child(1) {
            justify-content: flex-start;
            margin-bottom: 11px;
          }

          p {
            justify-content: flex-start;
            margin-bottom: 15px;
          }
        }

        > .color {
          display: none;
        }

        .color.inline {
          position: static;
          display: block;

          width: 18px;
          height: 18px;
        }

        .imgWrapper {
          width: 150px;
          margin-bottom: 0;
        }

        .sale {
          align-items: center;

          .price {
            transform: translate(0, -10%);
          }

          .number {
            line-height: 100%;
            height: 18px;
          }
        }
      }
    }

    .productHr {
      height: 1px;
    }
  }
}
