@use "../helpers" as *;
@use "../variables" as *;

.stripes {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  height: 261px;
  margin: 170px 0;

  overflow-x: hidden;
}

.srtipe {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 67px;

  height: 72px;
  top: 50%;

  font-family: "Floreste";
  font-size: getFontSize("numbers");
  color: getColor("white");
  text-transform: uppercase;
  letter-spacing: 0.04em;

  text-wrap: nowrap;
  &:nth-child(1) {
    transform: translate(-33px, -50%) rotate(5deg);

    background-color: getColor("lavender-light");
  }

  &:nth-child(2) {
    transform: translate(-190px, -50%) rotate(-2.2deg);

    background-color: getColor("blue");
  }

  & span {
    transform: translate(0, 10%);
  }
}
