@use "../../helpers" as *;
@use "../../variables" as *;
.cartModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 619px;
  border-radius: 30px;
  padding: 48px;

  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: getFontSize("text");
  text-transform: uppercase;

  color: getColor("white");
  background-color: rgba(51, 32, 101, 0.18);
  backdrop-filter: blur(200px);
  pointer-events: none;

  &.inOrder {
    opacity: 1;
    pointer-events: all;
    margin: 0;

    .innerButtonsWrapper {
      display: none;
    }

    .products {
      margin-bottom: 60px;
    }

    .cartBottom {
      height: 122px;
    }
  }

  & > .title {
    margin-bottom: 53px;
    letter-spacing: 0.1em;
    font-size: getFontSize("text");
  }

  & .currency {
    display: inline-flex;
    align-items: center;
    height: 14px;

    font-size: getFontSize("currency");
  }

  & > .closeButton {
    position: absolute;
    top: 32px;
    right: 32px;

    background-color: transparent;
  }

  & .products {
    display: flex;
    flex-direction: column;
    gap: 60px;

    margin-bottom: 83px;

    & .product {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 522px;
      height: 145px;

      & img {
        max-width: 129px;
        height: 142px;
      }
    }
  }

  .productInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 393px;

    & svg {
      margin-top: 4px;
    }
  }
}

.deleteButton {
  display: flex;
  background-color: transparent;
}

.innerDescription {
  display: flex;
  justify-content: space-between;

  & div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;

    height: 51px;

    & .text {
      display: inline-flex;
      align-items: center;

      height: 13px;
      font-size: getFontSize("text");
      text-transform: none;
    }

    & div {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 11px;

      & .color {
        width: 14px;
        height: 14px;

        border: 2px solid getColor("white");
        border-radius: 100%;
        background-color: getColor("white");

        &.cyan {
          background-color: rgb(41, 208, 217);
        }

        &.ohra {
          background-color: rgb(255, 196, 165);
        }

        &.pink {
          background-color: rgb(250, 142, 239);
        }
      }

      & title {
        font-size: 20px;
        text-transform: uppercase;
      }
    }
  }
}

.innerBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  & .price {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    height: 20px;
    margin-bottom: 9px;
  }

  & .number {
    position: relative;
    top: -0.5px;

    display: inline-flex;
    height: inherit;
    font-size: 28px;
  }
}

.innerButtonsWrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  & span {
    font-size: --font-size-text;
  }

  & button {
    width: 45px;
    height: 45px;
    border: 2px solid getColor("white");
    border-radius: 100%;

    color: getColor("white");
    background-color: getColor("white-0.2");

    &:disabled {
      cursor: default;
      color: getColor("white-0.6");
      border-color: getColor("white-0.6");
      background-color: getColor("white-0.2");
    }

    &:nth-child(1)::after {
      content: "-";
    }

    &:nth-child(3)::after {
      content: "+";
    }
  }
}

.cartBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;

  & .number {
    position: relative;
    top: -1px;
    height: 28px;
  }
}

.orderSum {
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-size: 20px;

  & div {
    display: flex;
    gap: 7px;
  }
}

.orderButton {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 7px;

  width: 189px;

  color: getColor("white");
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: getFontSize("button");
  line-height: 1.2;
  text-align: center;
  background-color: transparent;

  a {
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    border: 2px solid getColor("lime");
    border-radius: 50%;

    width: 189px;
    height: 93px;
    transform: rotate(-6deg);
    background-color: rgba(235, 227, 255, 0.19);
  }
}
