@use "../../helpers" as *;
@use "../../variables" as *;

.productModal {
  z-index: 11;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  padding-top: fluid(18, 30);
  padding-right: fluid(18, 60);
  padding-left: fluid(18, 60);
  padding-bottom: fluid(18, 30);

  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: getFontSize("text");
  text-transform: uppercase;

  color: getColor("white");
  background-color: getColor("lavender");

  img {
    position: absolute;
    top: fluid(91, 96);
    left: 50%;
    z-index: 1;

    height: fluid(317, 666);

    transform: translate(-50%);
  }

  > div {
    &:nth-child(1) {
      display: flex;
      margin-bottom: fluid(45, 74);
      height: 23px;

      span {
        letter-spacing: 0.1em;
      }

      svg {
        align-self: flex-start;
      }
    }

    &:nth-child(2) {
      display: flex;
      justify-content: space-between;

      font-size: getFontSize("subtitle");

      height: fluid(50, 79);

      margin-bottom: 73px;

      @include mobile {
        margin-top: 0;
      }

      span {
        width: fluid(47, 99);

        br {
          display: none;

          @include mobile {
            display: block;
          }
        }
      }

      button {
        display: flex;
        align-items: flex-start;

        height: 100%;
        border-radius: 100%;
        background-color: transparent;

        svg {
          $edge: fluid(50, 78);
          width: $edge;
          height: $edge;
        }

        .hearth {
          stroke: transparent;
          fill: transparent;
        }
        path {
          fill: getColor("lime");
          transition-property: fill;
          transition-duration: 200ms;
          transition-timing-function: ease;
        }
        circle {
          stroke: getColor("lime");
          transition-property: stroke;
          transition-duration: 200ms;
          transition-timing-function: ease;
        }

        &.pressed {
          .hearth {
            stroke: rgb(255, 177, 247);
            fill: getColor("white");
          }
          path {
            fill: transparent;
          }
          circle {
            stroke: rgb(255, 177, 247);
          }
        }
      }

      @include mobile {
        margin-bottom: 91px;
      }
    }

    &:nth-child(3) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 120px;
      font-size: fluid(12, 18);
      letter-spacing: 0.1em;

      height: 23px;

      > div:nth-child(1) {
        display: flex;
        height: 23px;

        font-size: fluid(12, 18);

        > span:nth-child(1) {
          margin-right: 30px;
        }

        div {
          margin-right: 12px;
        }
      }

      .color {
        width: 22px;
        height: 22px;
        border: 3px solid getColor("white");
        border-radius: 100%;
        background-color: rgb(147, 129, 216);
      }

      @include mobile {
        height: 56px;
        margin-bottom: 73px;
        order: 4;

        > div:nth-child(1) {
          order: 2;
          display: flex;
          flex-direction: column;
          height: 56px;
          justify-content: space-between;
          align-items: flex-end;

          > span:nth-child(1) {
            display: none;
          }

          .color {
            margin: 0;
          }
        }

        > span:nth-child(2) {
          order: 1;
          display: inline-flex;
          flex-direction: column;
          width: 56px;
          line-height: 2;
        }
      }
    }

    &:nth-child(4) {
      justify-content: center;

      height: fluid(67, 248);
      margin-bottom: fluid(49, 115);

      font-family: "Floreste";
      font-weight: 400;
      font-size: fluid(71, 354);
      text-transform: uppercase;
      text-wrap: nowrap;
      color: rgba(203, 182, 255, 0.4);

      user-select: none;

      span {
        transform: translate(0, -10px);
      }

      @include mobile {
        order: 3;
      }
    }

    &:nth-child(7) {
      height: 100vh;

      @include mobile {
        display: none;
      }
    }
  }

  .number {
    color: getColor("lime");
    text-wrap: nowrap;
  }

  .currency {
    transform: translate(0, -20%);

    color: getColor("lime");
    font-size: getFontSize("currency");

    @include mobile {
      transform: none;
      margin-bottom: fluid(15, 24);
    }
  }

  .closeButtonWrapper {
    justify-content: flex-end;
    align-items: center;

    .closeButton {
      display: flex;
      align-items: center;
      gap: 17px;

      font: inherit;
      text-transform: uppercase;
      color: rgba(218, 209, 242, 0.815);
      background-color: transparent;
    }
  }

  .buyButton {
    position: relative;

    width: fluid(207, 357);
    height: fluid(91, 156);

    background-color: transparent;

    .ellipse {
      top: 50%;
      left: 50%;
      width: fluid(206, 356);
      height: fluid(78, 135);

      transform: translate(-50%, -50%);
    }

    .ellipse:nth-child(1) {
      z-index: 3;
      transform: rotate(-2deg);
    }

    .ellipse:nth-child(2) {
      backdrop-filter: blur(150px);
      background-color: getColor("white-0.2");

      z-index: 2;
      transform: rotate(-13deg);
    }

    .title {
      letter-spacing: 0.04em;
    }
  }
}

.bottomDesktop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: calc(192px - 10vw);

  > div div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 7px;

    text-align: center;
    height: 28px;
  }

  @include mobile {
    order: 5;
    display: none;
    margin-top: 0;
  }
}

.bottomMobile {
  order: 5;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 26px;

  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 2px;

    div {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }

  @include mobile {
    display: flex;
  }
}

.productTitle {
  display: flex;
  flex-direction: column;
  gap: 22px;

  font-family: "Floreste";
  font-size: fluid(23, 100);
  text-transform: uppercase;

  font-size: fluid(23, 100);

  @include mobile {
    margin: 0;
    font-family: "Euclid Circular A";
  }
}

.productDescription {
  width: fluid(249, 346);
  margin-right: 10px;

  font-size: fluid(13, 20);
  text-transform: none;
  line-height: 1.54;

  @include mobile {
    width: 100%;
    margin: 0;
    line-height: 20px;
  }
}
