* {
  margin: 0;
  padding: 0;
  border: none;

  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

button {
  &:not(:disabled) {
    cursor: pointer;
  }
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
