* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  display: flex;
}

body {
  min-height: 100vh;
}

ul {
  padding-left: 0;
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

button,
label {
  cursor: pointer;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
