* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a,
pre,
button,
input {
  font: inherit;
  color: inherit;
}

a,
address {
  text-decoration: none;
}

a,
button {
  background-color: transparent;

  &:not(:disabled) {
    cursor: pointer;
  }
}

ul {
  padding-left: 0;
  list-style: none;
}
