@use "helpers" as *;

:root {
  --color-pink: rgb(250, 143, 239);
  --color-blue: rgb(174, 207, 255);
  --color-lavender: rgb(174, 151, 232);
  --color-lime: rgb(217, 255, 90);
  --color-white: rgb(255, 255, 255);
  --color-delete: rgb(121, 100, 174);
}
