* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

button {
  cursor: pointer;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Le Murmure";
  src: url(/fonts/le-murmure-600.woff2) format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Floreste";
  src: url(/fonts/floreste-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/euclid-circular-a-700.woff2) format(woff2);
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/euclid-circular-a-500.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/euclid-circular-a-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url(/fonts/circe-700.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url(/fonts/circe-350.woff2) format(woff2);
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(/fonts/gilroy-500.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-lime: rgb(217, 255, 90);
  --color-pink: rgb(250, 143, 239);
  --color-pink-semi-transparent: rgb(255, 168, 246);
  --color-blue: rgb(174, 207, 255);
  --color-light-blue: rgb(165, 212, 255);
  --color-blue-semi-transparent: rgb(190, 216, 255);
  --color-white: rgb(255, 255, 255);
  --color-white-semi-transparent: rgba(255, 255, 255, 0.6);
  --color-white-almost-transparent: rgba(255, 255, 255, 0.2);
  --color-delete: rgb(121, 100, 174);
  --color-lavender: rgb(174, 151, 232);
  --color-lavender-highlight: rgb(203, 182, 255);
  --color-lavender-semi-transparent: rgba(203, 182, 255, 0.6);
  --color-lavender-dark: rgba(235, 227, 255, 0.2);
  --desk-font-size-h1: 60px;
  --desk-font-size-h2: 28px;
  --desk-font-size-logo: 45px;
  --desk-font-size-text: 18px;
  --desk-font-size-curve: 16px;
  --desk-font-size-button: 20px;
  --desk-font-size-numbers: 40px;
  --desk-font-size-subtitle: 15px;
  --desk-font-size-currency: 20px;
  --desk-font-size-background: 212px;
  --desk-font-size-text-spacing: 20px;
  --desk-font-size-filter-title: 18px;
  --desk-font-size-quanity-measure: 15px;
  --desk-font-size-description-text: 15px;
  --desk-font-size-filter-item-text: 18px;
  --desk-font-size-filter-item-title: 20px;
  --desk-font-size-middle-background: 205px;
  --desk-font-size-all-rights-resereved: 18px;
  --desk-font-size-text-caps-no-spacing: 18px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  position: relative;
  background-color: var(--color-lavender);
}
body > div {
  position: absolute;
}
body.noScroll {
  overflow-y: hidden;
}

.root {
  top: 0;
  left: 0;
  z-index: 0;
  background-color: var(--color-lavender);
  width: 100%;
  scrollbar-gutter: stable;
}

.modalRoot {
  z-index: 100;
  scrollbar-gutter: unset;
  pointer-events: none;
}
.modalRoot > div.open {
  pointer-events: all;
}

.number {
  font-family: "Floreste";
  font-size: var(--desk-font-size-numbers);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--color-white);
}

.buyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.buyButton .title {
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-button);
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  margin-left: 12px;
  z-index: 4;
  color: var(--color-white);
}
.buyButton svg {
  z-index: 4;
}

.innerHr {
  height: 2px;
  width: 100%;
  background-color: var(--color-lime);
  margin-top: 22px;
  margin-bottom: 22px;
}

.mainHeader {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 53px;
  margin-left: 60px;
  margin-right: 123px;
  z-index: 3;
}

.mainNav {
  display: grid;
  place-items: center;
  grid-template-areas: "mainNavList . favourites . profile . cart";
  grid-template-columns: auto minmax(18px, 247px) auto minmax(18px, 35px) auto minmax(18px, 36px) auto;
  color: var(--color-white);
}

.mainNavList {
  display: grid;
  place-items: center;
  grid-template-areas: "logo . catalog . blog . contacts . search";
  grid-template-columns: max-content minmax(18px, 133px) auto minmax(18px, 387px) auto minmax(18px, 30px) auto minmax(18px, 386px) auto;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 500;
  font-size: var(--desk-font-size-text);
}

.navButton {
  display: flex;
  background-color: transparent;
}

.logo {
  font-family: "Le Murmure", sans-serif;
  font-weight: 600;
  font-size: var(--desk-font-size-logo);
  line-height: 1em;
  grid-area: logo;
}

.catalog {
  grid-area: catalog;
}

.navBlog {
  grid-area: blog;
}

.contacts {
  grid-area: contacts;
}

.search {
  grid-area: search;
}

.favourites {
  position: relative;
  grid-area: favourites;
}

.profile {
  grid-area: profile;
}

.cart {
  position: relative;
  grid-area: cart;
}

.itemsQuanity {
  position: absolute;
  right: -7px;
  bottom: -2px;
  font-family: "Euclid Circular A";
  font-size: 13px;
  font-weight: 700;
  color: var(--color-white);
}
.itemsQuanity.empty {
  display: none;
}

.mainFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
  margin-bottom: 101px;
  margin-left: 67px;
  margin-right: 56px;
}

.text {
  font-family: "Gilroy";
  font-size: var(--desk-font-size-all-rights-resereved);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.banner {
  margin: 20px;
}
.banner ul {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.bannerItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-property: flex-grow;
  transition-duration: 800ms;
  transition-timing-function: ease-out;
  flex-grow: 340;
  height: 1038px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.bannerItem.expdanded {
  animation: bannerItemExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded img {
  animation: imageExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .buyButton {
  animation: buttonHoist 1.9s ease-out forwards;
}
.bannerItem.expdanded .preview {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.bannerItem.expdanded .details {
  animation: detailsExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .details .productOfTheDay {
  animation: productOfTheDayExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .details .backgroundText {
  animation: backgroundTextExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .details .description {
  animation: descriptionExpand 1.9s ease-out forwards;
}
.bannerItem.collapsed {
  animation: bannerItemCollapse 1.9s ease-out forwards;
}
.bannerItem.collapsed img {
  animation: imageCollapse 800ms ease-out forwards;
}
.bannerItem.collapsed .buyButton {
  opacity: 0;
  max-width: 0;
  max-height: 0;
  animation: buttonDrow 1.9s ease-out forwards;
}
.bannerItem.collapsed .details {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.bannerItem img {
  position: absolute;
  z-index: 1;
  -webkit-user-drag: none;
  user-select: none;
}
.bannerItem .buyButton {
  position: absolute;
  z-index: 2;
  width: 356px;
  height: 135px;
  opacity: 0;
  background-color: transparent;
}
.bannerItem .buyButton .ellipse:nth-child(1) {
  transform: rotate(-2deg);
  z-index: 3;
}
.bannerItem .buyButton .ellipse:nth-child(2) {
  backdrop-filter: blur(150px);
  background-color: var(--color-white-almost-transparent);
  z-index: 2;
  transform: rotate(-13deg);
}
.bannerItem .buyButton .title {
  letter-spacing: 0.04em;
}
.bannerItem:nth-child(1) {
  background-color: var(--color-lavender-highlight);
}
.bannerItem:nth-child(1) .backgroundText {
  color: var(--color-lavender-semi-transparent);
}
.bannerItem:nth-child(1) .description .number {
  color: var(--color-lime);
}
.bannerItem:nth-child(1).expdanded {
  background-color: transparent;
}
.bannerItem:nth-child(2) {
  background-color: var(--color-pink);
}
.bannerItem:nth-child(2) .backgroundText {
  color: var(--color-pink-semi-transparent);
  font-size: var(--desk-font-size-middle-background);
}
.bannerItem:nth-child(3) {
  background-color: var(--color-blue);
}
.bannerItem:nth-child(3) .backgroundText {
  color: var(--color-blue-semi-transparent);
}

.productOfTheDay {
  position: absolute;
  top: 386px;
  left: 60px;
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-text-caps-no-spacing);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-lime);
}

.backgroundText {
  position: absolute;
  top: 440px;
  font-family: "Floreste";
  font-size: var(--desk-font-size-background);
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
  transform: translate(-50%) scale(0.33);
}

.preview {
  position: absolute;
  bottom: 103px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 42px;
  text-align: center;
  height: fit-content;
  width: fit-content;
}
.preview .title {
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-subtitle);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-white-semi-transparent);
}

.details {
  display: flex;
  opacity: 0;
}

.description {
  position: absolute;
  left: 41px;
  bottom: 103px;
  height: fit-content;
  width: 275px;
  text-align: left;
  color: var(--color-white);
}
.description .title {
  text-transform: uppercase;
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-h2);
  font-weight: 500;
  margin-bottom: 18px;
}
.description .text {
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-description-text);
  font-weight: 500;
  line-height: 23px;
}
.description .hr {
  background-color: var(--color-white-almost-transparent);
  height: 1px;
  width: auto;
  margin: 28px 0;
}

.currency {
  font-family: "Euclid Circular A";
  font-weight: 400;
  font-size: var(--desk-font-size-currency);
  text-transform: uppercase;
}

.ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: inherit;
  height: inherit;
  border: 2px solid var(--color-lime);
  border-radius: 50%;
}

@keyframes bannerItemExpand {
  0% {
    flex-grow: 340;
  }
  50% {
    flex-grow: 1230;
  }
  100% {
    flex-grow: 1160;
  }
}
@keyframes bannerItemCollapse {
  from {
    flex-grow: auto;
  }
  to {
    flex-grow: 340;
  }
}
@keyframes imageExpand {
  0% {
    transform: scale(0.47) rotate(7deg);
  }
  50% {
    transform: scale(1.02) rotate(0);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@keyframes imageCollapse {
  to {
    transform: scale(0.47) rotate(7deg);
  }
}
@keyframes buttonHoist {
  0% {
    opacity: 0;
    top: 1060px;
    right: 62px;
  }
  50% {
    top: 760px;
    right: 50px;
  }
  100% {
    opacity: 1;
    top: 778px;
    right: 50px;
  }
}
@keyframes buttonDrow {
  to {
    top: 1060px;
    right: 62px;
  }
}
@keyframes productOfTheDayExpand {
  0% {
    transform: scale(0.33);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes backgroundTextExpand {
  0% {
    transform: translate(-50%) scale(0.33);
  }
  50% {
    transform: translate(-50%) scale(1.01);
  }
  100% {
    transform: translate(-50%) scale(1);
  }
}
@keyframes detailsExpand {
  to {
    opacity: 1;
  }
}
@keyframes descriptionExpand {
  0% {
    transform: translate(50%);
  }
  50% {
    transform: translate(-1%);
  }
  100% {
    transform: translate();
  }
}
.categories {
  display: flex;
  flex-direction: column;
  margin: 170px 60px;
  text-align: center;
}
.categories h1 {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-h1);
  color: var(--color-white);
  text-transform: uppercase;
}
.categories > ul {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.categoryCard {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 428px;
  height: 517px;
  cursor: pointer;
}
.categoryCard h2 {
  position: absolute;
  top: 37px;
  width: 184px;
  text-align: left;
}
.categoryCard:hover:nth-child(2) .curvedText {
  fill: var(--color-lime);
}
.categoryCard:hover img {
  transform: scale(1.1);
}
.categoryCard:hover .categoryQuanity .quanityTextWrapper {
  transform: rotate(0);
}
.categoryCard:hover .circleButton {
  background-color: var(--color-lime);
}
.categoryCard:hover .circleButton svg {
  stroke: var(--color-lavender);
}

h2 {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-h2);
  color: var(--color-white);
  text-transform: uppercase;
}

.categoryPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin-left: 5px;
}
.categoryPreview img {
  position: absolute;
  height: 248px;
  transition: transform 300ms ease-in-out;
}
.categoryPreview svg {
  z-index: -1;
}

.curvedText {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-curve);
  fill: var(--color-white);
  letter-spacing: 0.12em;
  vertical-align: baseline;
  text-transform: lowercase;
}

.categoryQuanity {
  position: absolute;
  right: 0;
  top: 29.2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quanityTextWrapper {
  position: absolute;
  top: 29%;
  transition: transform 450ms ease-out;
  transform: rotate(-23deg);
}

.quanityMeasure {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-quanity-measure);
  color: var(--color-white);
  text-transform: uppercase;
}

.quanityBackground {
  z-index: -1;
}

.circleButton {
  position: absolute;
  left: 34.8%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101px;
  height: 101px;
  border: 2px solid var(--color-lime);
  border-radius: 100%;
  background-color: var(--color-lavender-dark);
  transition: background-color 500ms ease-out;
}
.circleButton svg {
  stroke: var(--color-lime);
  transition: stroke 200ms ease-out;
}

.category {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  margin-top: 60px;
  width: 100%;
  font-family: "Euclid Circular A";
  font-weight: 500;
  color: var(--color-white);
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.category.expanded {
  opacity: 1;
  max-width: none;
  max-height: none;
}
.category.expanded .menu {
  max-width: none;
  max-height: none;
}
.category .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 0;
  max-height: 0;
}
.category .menu > span {
  font-size: var(--desk-font-size-subtitle);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hoverableRect {
  fill: transparent;
  transition: fill 200ms ease;
}

summary {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--desk-font-size-filter-title);
  text-transform: uppercase;
  user-select: none;
  list-style: none;
  cursor: pointer;
}
summary:hover .hoverableRect {
  fill: var(--color-lime);
}

.filters {
  position: relative;
  line-height: 1.5;
  z-index: 11;
}
.filters[open] > ul {
  margin-top: 32px;
}
.filters > ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 320px;
  font-size: var(--desk-font-size-filter-item-title);
  line-height: 1.5;
  text-align: left;
}
.filters > ul > li {
  display: flex;
  flex-direction: column;
  padding: 22px 30px 24px;
  border-radius: 40px;
  background-color: var(--color-lavender-highlight);
}

.priceFilter {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.priceFilter label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 40px;
  border-radius: 11px;
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-filter-item-text);
  font-weight: 500;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-lavender);
  outline: none;
  cursor: default;
}

.displays {
  display: flex;
  gap: 14px;
}

.slider {
  position: relative;
  height: 3px;
  width: 100%;
  margin: 11px 0;
  border-radius: 72px;
  background-color: var(--color-white);
}
.slider .thumbDotMin,
.slider .thumbDotMax {
  position: absolute;
  top: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: var(--color-lime);
  z-index: 1;
  pointer-events: none;
}
.slider .thumbDotMin {
  left: calc(7px + var(--min-thumb-dot-position));
  z-index: 0;
}
.slider .thumbDotMax {
  left: calc(7px + var(--max-thumb-dot-position));
}
.slider input[type=range] {
  position: absolute;
  width: 100%;
  height: 3px;
  background: none;
  pointer-events: none;
  appearance: none;
}
.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid var(--color-lime);
  background-color: var(--color-lavender);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 2px 4px 13px 0px var(--color-lavender);
}
.slider input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 2px solid var(--color-lime);
  background-color: var(--color-lavender);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 2px 4px 13px 0px var(--color-lavender);
}
.slider::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--color-lime);
  left: var(--min-thumb-position);
  right: calc(100% - var(--max-thumb-position));
}

.colorFilter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.colorFilter ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.colorFilter ul li {
  font-size: var(--desk-font-size-filter-item-text);
}
.colorFilter ul li input {
  content: "";
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: 2px solid var(--color-lavender);
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 200ms ease;
  user-select: none;
  cursor: pointer;
}
.colorFilter ul li input:checked {
  content: "";
  border: 2px solid var(--color-lavender);
  background-color: var(--color-lime);
}
.colorFilter ul li pre {
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-filter-item-text);
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
}
.colorFilter ul li span {
  color: var(--color-white-semi-transparent);
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  max-height: 415px;
  row-gap: 70px;
  column-gap: 103px;
  list-style: none;
  opacity: 1;
  transition: opacity 800ms ease;
}
.productsList.disabled {
  display: none;
}
.productsList:not(.open) {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.productsList.expanded {
  max-height: none;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 274px;
  height: 415px;
}
.product > .color {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 22px;
  height: 22px;
  border: 3px solid var(--color-white);
  border-radius: 100%;
  background-color: var(--color-white);
}
.product > .color.blue {
  background-color: var(--color-light-blue);
}
.product > .color.lavender {
  background-color: rgb(240, 179, 234);
}
.product > .color.orange {
  background-color: rgb(251, 228, 202);
}
.product > .color.gold {
  background-color: rgb(255, 196, 165);
}
.product > .color.green {
  background-color: rgb(136, 227, 121);
}
.product > .color.pink {
  background-color: rgb(250, 142, 239);
}
.product > .color.cyan {
  background-color: rgb(41, 208, 217);
}
.product > .color.sky {
  background-color: rgb(41, 208, 217);
}
.product > .color.black {
  background-color: rgb(92, 84, 74);
}
.product > .color.ohra {
  background-color: rgb(240, 223, 179);
}
.product > .color.gray {
  background-color: rgb(202, 207, 251);
}
.product .imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  margin-bottom: 32px;
  cursor: pointer;
}
.product .imgWrapper img {
  width: auto;
  height: 100%;
}
.product p {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-subtitle);
  line-height: 23px;
  margin-bottom: 7px;
  color: var(--color-white);
}
.product .sale {
  display: flex;
  justify-content: space-between;
}
.product .sale .price {
  display: inline-flex;
  align-items: flex-end;
  font-family: "Floreste";
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1;
  transform: translate(0, 26.5%);
}
.product .sale .number {
  font-size: var(--desk-font-size-h2);
}
.product .sale .currency {
  align-self: flex-start;
  font-size: var(--desk-font-size-currency);
  transform: translate(50%, -10%);
}
.product .sale .buyButton {
  align-items: flex-end;
}

.productHr {
  height: 2px;
  width: auto;
  background-color: var(--color-lime);
  margin-bottom: 28px;
}

.moreButton {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-button);
  color: var(--color-white);
  background-color: transparent;
}
.moreButton:not(.expanded) {
  display: none;
}
.moreButton div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transform: translate(0, 15%);
}
.moreButton::after {
  content: "";
  z-index: -1;
  width: 319px;
  height: 135px;
  border: 2px solid var(--color-lime);
  border-radius: 50%;
  background-color: var(--color-white-almost-transparent);
  transform: rotate(-13deg);
  backdrop-filter: blur(30px);
}

.stripes {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 261px;
  margin: 170px 0;
  overflow-x: hidden;
}

.srtipe {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 67px;
  height: 72px;
  top: 50%;
  font-family: "Floreste";
  font-size: var(--desk-font-size-numbers);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-wrap: nowrap;
}
.srtipe:nth-child(1) {
  transform: translate(-33px, -50%) rotate(5deg);
  background-color: var(--color-lavender-highlight);
}
.srtipe:nth-child(2) {
  transform: translate(-190px, -50%) rotate(-2.2deg);
  background-color: var(--color-blue);
}
.srtipe span {
  transform: translate(0, 10%);
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin: 170px 60px;
  height: 489px;
  line-height: 1;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-subtitle);
  text-transform: uppercase;
  color: var(--color-white);
}

.blogTop {
  display: flex;
  justify-content: space-between;
}

.blogPaginator {
  display: flex;
  align-items: center;
  gap: 45px;
}

.blogTitle {
  display: inline-flex;
  align-items: center;
  height: 43px;
  font-size: var(--desk-font-size-h1);
}

.paginatorDotsWrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

.paginatorDot {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.paginatorDot.selected {
  background-color: var(--color-white);
}

.blogSlider {
  display: flex;
  align-items: center;
}

.sliderNumber {
  height: 28px;
  font-family: "Floreste";
  font-weight: 400;
  font-size: var(--desk-font-size-numbers);
}

.sliderHr {
  width: 63px;
  height: 2px;
  margin-left: 27px;
  margin-right: 35px;
  background-color: var(--color-lavender-highlight);
}

.blogCardsList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.blogCard {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 14px;
  width: 580px;
  height: 376px;
}
.blogCard:hover .cardButton {
  background-color: var(--color-lime);
}
.blogCard:hover .cardButton .number, .blogCard:hover .cardButton .buttonText {
  color: var(--color-lavender);
}

.cardBackground {
  position: absolute;
  z-index: -1;
}

.cardButton {
  position: absolute;
  bottom: 0;
  left: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 81px;
  border: 2px solid var(--color-lime);
  border-radius: 50%;
  background-color: var(--color-white-alsmost-transparent);
  transform: rotate(-15deg);
  backdrop-filter: blur(20px);
  transition-property: background-color, color;
  transition-duration: 800ms;
  transition-timing-function: ease;
}
.cardButton .number {
  height: 28px;
}

.buttonText {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--color-white);
  text-transform: uppercase;
}

.cardLeft,
.cardRight {
  display: flex;
  flex-direction: column;
  width: 283px;
  height: 342px;
}

.cardLeft {
  padding: 25px;
}

.cardRight {
  padding: 13px;
}
.cardRight .imgWrapper {
  border-radius: 28px;
  overflow: hidden;
}
.cardRight .imgWrapper img {
  object-fit: cover;
  max-width: 200%;
  max-height: 100%;
  transition: transform 600ms ease-out;
  transform-origin: right;
}
.cardRight .imgWrapper img:hover {
  transform: scale(1.1) translate(3%);
}

.topTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 36px;
  margin-bottom: 31px;
}

.topTitleNumber {
  color: var(--color-white-semi-transparent);
}

.topTitleAuthor {
  width: 90px;
  font-size: var(--desk-font-size-text);
  text-transform: capitalize;
  text-align: right;
}

.middleTitle {
  font-size: var(--desk-font-size-h2);
  line-height: 1.29;
  margin-bottom: 88px;
}

.bottomTitle {
  width: 82px;
  height: 29px;
  text-align: left;
}

.cartModal {
  position: absolute;
  top: 115px;
  left: 1225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 619px;
  border-radius: 30px;
  padding: 48px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-text-spacing);
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 500ms ease-out;
  color: var(--color-white);
  background-color: rgba(51, 32, 101, 0.18);
  backdrop-filter: blur(200px);
  pointer-events: none;
}
.cartModal.open {
  opacity: 1;
  pointer-events: all;
}
.cartModal > .title {
  margin-bottom: 53px;
  letter-spacing: 0.1em;
  margin-bottom: 53px;
}
.cartModal .currency {
  display: inline-flex;
  align-items: center;
  height: 14px;
  font-size: var(--desk-font-size-currency);
}
.cartModal > .closeButton {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: transparent;
}
.cartModal .products {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 83px;
}
.cartModal .products .product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 522px;
  height: 145px;
}
.cartModal .products .product img {
  max-width: 129px;
  height: 142px;
}

.productInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 393px;
}
.productInner svg {
  margin-top: 4px;
}

.deleteButton {
  display: flex;
  background-color: transparent;
}

.innerDescription {
  display: flex;
  justify-content: space-between;
}
.innerDescription div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  height: 51px;
}
.innerDescription div .text {
  display: inline-flex;
  align-items: center;
  height: 13px;
  font-size: var(--desk-font-size-text);
  text-transform: none;
}
.innerDescription div div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 11px;
}
.innerDescription div div .color {
  width: 14px;
  height: 14px;
  border: 2px solid var(--color-white);
  border-radius: 100%;
  background-color: var(--color-white);
}
.innerDescription div div .color.cyan {
  background-color: rgb(41, 208, 217);
}
.innerDescription div div .color.ohra {
  background-color: rgb(255, 196, 165);
}
.innerDescription div div .color.pink {
  background-color: rgb(250, 142, 239);
}
.innerDescription div div title {
  font-size: 20px;
  text-transform: uppercase;
}

.innerBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.innerBottom .price {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  height: 20px;
  margin-bottom: 9px;
}
.innerBottom .number {
  position: relative;
  top: -0.5px;
  display: inline-flex;
  height: inherit;
  font-size: 28px;
}

.innerButtonsWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.innerButtonsWrapper span {
  font-size: --desk-font-size-text;
}
.innerButtonsWrapper button {
  width: 45px;
  height: 45px;
  border: 2px solid var(--color-white);
  border-radius: 100%;
  color: var(--color-white);
  background-color: var(--color-white-almost-transparent);
}
.innerButtonsWrapper button:disabled {
  cursor: default;
  color: var(--color-white-semi-transparent);
  border-color: var(--color-white-semi-transparent);
  background-color: var(--color-white-almost-transparent);
}
.innerButtonsWrapper button:nth-child(1)::after {
  content: "-";
}
.innerButtonsWrapper button:nth-child(3)::after {
  content: "+";
}

.cartBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
}
.cartBottom .number {
  position: relative;
  top: -1px;
  height: 28px;
}

.orderSum {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}
.orderSum div {
  display: flex;
  gap: 7px;
}

.orderButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-button);
  line-height: 1.2;
  letter-spacing: 0%;
  text-align: center;
  border: 2px solid var(--color-lime);
  border-radius: 50%;
  width: 189px;
  height: 93px;
  transform: rotate(-6deg);
  background-color: rgba(235, 227, 255, 0.19);
}
.orderButton span {
  position: absolute;
  transform: rotate(6deg);
}

.productModal {
  position: fixed;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 60px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-text-spacing);
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 200ms ease-out;
  color: var(--color-white);
  background-color: var(--color-lavender);
}
.productModal.open {
  opacity: 1;
}
.productModal .currency {
  display: inline-flex;
  align-items: center;
  height: 14px;
  font-size: var(--desk-font-size-currency);
}
.productModal img {
  position: absolute;
  top: 96px;
  left: 50%;
  z-index: 1;
  height: 666px;
  transform: translate(-50%);
}
.productModal > div {
  display: flex;
  justify-content: space-between;
}
.productModal > div:nth-child(1) {
  margin-bottom: 74px;
  height: 23px;
}
.productModal > div:nth-child(1) span {
  letter-spacing: 0.1em;
}
.productModal > div:nth-child(1) svg {
  align-self: flex-start;
}
.productModal > div:nth-child(2) {
  font-size: var(--desk-font-size-subtitle);
  height: 79px;
  margin-bottom: 73px;
}
.productModal > div:nth-child(2) button {
  border-radius: 100%;
  background-color: transparent;
}
.productModal > div:nth-child(2) button .hearth {
  stroke: transparent;
  fill: transparent;
}
.productModal > div:nth-child(2) button path {
  fill: var(--color-lime);
  transition-property: fill;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.productModal > div:nth-child(2) button circle {
  stroke: var(--color-lime);
  transition-property: stroke;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.productModal > div:nth-child(2) button.pressed .hearth {
  stroke: rgb(255, 177, 247);
  fill: var(--color-white);
}
.productModal > div:nth-child(2) button.pressed path {
  fill: transparent;
}
.productModal > div:nth-child(2) button.pressed circle {
  stroke: rgb(255, 177, 247);
}
.productModal > div:nth-child(3) {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  font-size: 18px;
  letter-spacing: 0.1em;
  height: 23px;
}
.productModal > div:nth-child(3) > div:nth-child(1) {
  display: flex;
  height: 23px;
}
.productModal > div:nth-child(3) > div:nth-child(1) > span:nth-child(1) {
  margin-right: 30px;
}
.productModal > div:nth-child(3) > div:nth-child(1) div {
  margin-right: 12px;
}
.productModal > div:nth-child(3) .color {
  width: 22px;
  height: 22px;
  border: 3px solid var(--color-white);
  border-radius: 100%;
  background-color: rgb(147, 129, 216);
}
.productModal > div:nth-child(4) {
  justify-content: center;
  height: 248px;
  margin-bottom: 115px;
  font-family: "Floreste";
  font-weight: 400;
  font-size: 354px;
  text-transform: uppercase;
  text-wrap: nowrap;
  color: rgba(203, 182, 255, 0.4);
}
.productModal > div:nth-child(4) span {
  transform: translate(0, -10px);
}
.productModal > div:nth-child(5) {
  align-items: center;
  justify-content: flex-start;
}
.productModal > div:nth-child(5) > div:nth-child(1) {
  width: 346px;
  margin-right: 343px;
  line-height: 1.54;
  font-size: 20px;
  text-transform: none;
}
.productModal > div:nth-child(5) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-right: 333px;
  font-family: "Floreste";
  font-size: 100px;
}
.productModal > div:nth-child(5) > div:nth-child(2) > span {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  height: 70px;
  transform: translate(0, -5%);
}
.productModal > div:nth-child(5) > div:nth-child(2) > div {
  display: flex;
  justify-content: center;
  height: 28px;
}
.productModal > div:nth-child(5) > div:nth-child(2) > div .number,
.productModal > div:nth-child(5) > div:nth-child(2) > div .currency {
  color: var(--color-lime);
}
.productModal .closeButtonWrapper {
  justify-content: flex-end;
}
.productModal .closeButtonWrapper .closeButton {
  display: flex;
  align-items: center;
  gap: 17px;
  font: inherit;
  text-transform: uppercase;
  color: rgba(218, 209, 242, 0.815);
  background-color: transparent;
}
.productModal .buyButton {
  position: relative;
  width: 357px;
  height: 156px;
  background-color: transparent;
}
.productModal .buyButton .ellipse {
  top: 50%;
  left: 50%;
  width: 356px;
  height: 135px;
  transform: translate(-50%, -50%);
}
.productModal .buyButton .ellipse:nth-child(1) {
  z-index: 3;
  transform: rotate(-2deg);
}
.productModal .buyButton .ellipse:nth-child(2) {
  backdrop-filter: blur(150px);
  background-color: var(--color-white-almost-transparent);
  z-index: 2;
  transform: rotate(-13deg);
}
.productModal .buyButton .title {
  letter-spacing: 0.04em;
}

.favouritesModal {
  position: absolute;
  top: 115px;
  left: 1225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 619px;
  border-radius: 30px;
  padding: 48px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-text-spacing);
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 500ms ease-out;
  color: var(--color-white);
  background-color: rgba(51, 32, 101, 0.18);
  backdrop-filter: blur(200px);
  pointer-events: none;
}
.favouritesModal.open {
  opacity: 1;
  pointer-events: all;
}
.favouritesModal > .title {
  margin-bottom: 53px;
  letter-spacing: 0.1em;
  margin-bottom: 53px;
}
.favouritesModal .currency {
  display: inline-flex;
  align-items: center;
  height: 14px;
  font-size: var(--desk-font-size-currency);
}
.favouritesModal > .closeButton {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: transparent;
}
.favouritesModal .products {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.favouritesModal .products .product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 522px;
  height: 145px;
}
.favouritesModal .products .product img {
  max-width: 129px;
  height: 142px;
}

.productInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 393px;
}
.productInner svg {
  margin-top: 0;
}

.deleteButton {
  display: flex;
  background-color: transparent;
}

.innerDescription {
  display: flex;
  justify-content: space-between;
}
.innerDescription .favouriteButton {
  height: 54px;
  border-radius: 100%;
  background-color: var(--color-white-almost-transparent);
  margin-bottom: 0;
}
.innerDescription .favouriteButton .hearth {
  stroke: transparent;
  fill: transparent;
}
.innerDescription .favouriteButton path {
  fill: var(--color-lime);
  transition-property: fill;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.innerDescription .favouriteButton circle {
  stroke: var(--color-lime);
  transition-property: stroke;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.innerDescription .favouriteButton.pressed .hearth {
  stroke: rgb(255, 177, 247);
}
.innerDescription .favouriteButton.pressed path {
  fill: var(--color-white);
}
.innerDescription .favouriteButton.pressed circle {
  stroke: rgb(255, 177, 247);
}
.innerDescription div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  height: 51px;
}
.innerDescription div .text {
  display: inline-flex;
  align-items: center;
  height: 13px;
  font-size: var(--desk-font-size-text);
  text-transform: none;
}
.innerDescription div div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 11px;
}
.innerDescription div div .color {
  width: 14px;
  height: 14px;
  border: 2px solid var(--color-white);
  border-radius: 100%;
  background-color: var(--color-white);
}
.innerDescription div div .color.cyan {
  background-color: rgb(41, 208, 217);
}
.innerDescription div div .color.ohra {
  background-color: rgb(255, 196, 165);
}
.innerDescription div div .color.pink {
  background-color: rgb(250, 142, 239);
}
.innerDescription div div title {
  font-size: 20px;
  text-transform: uppercase;
}

.innerBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.innerBottom .price {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  height: 20px;
  margin-bottom: 9px;
}
.innerBottom .number {
  position: relative;
  top: -0.5px;
  display: inline-flex;
  height: inherit;
  font-size: 28px;
}

.innerButtonsWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.innerButtonsWrapper span {
  font-size: --desk-font-size-text;
}
.innerButtonsWrapper button {
  width: 45px;
  height: 45px;
  border: 2px solid var(--color-white);
  border-radius: 100%;
  color: var(--color-white);
  background-color: var(--color-white-almost-transparent);
}
.innerButtonsWrapper button:disabled {
  cursor: default;
  color: var(--color-white-semi-transparent);
  border-color: var(--color-white-semi-transparent);
  background-color: var(--color-white-almost-transparent);
}
.innerButtonsWrapper button:nth-child(1)::after {
  content: "-";
}
.innerButtonsWrapper button:nth-child(3)::after {
  content: "+";
}

.cartBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
}
.cartBottom .number {
  position: relative;
  top: -1px;
  height: 28px;
}

.orderSum {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}
.orderSum div {
  display: flex;
  gap: 7px;
}

.orderButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-button);
  line-height: 1.2;
  letter-spacing: 0%;
  text-align: center;
  border: 2px solid var(--color-lime);
  border-radius: 50%;
  width: 189px;
  height: 93px;
  transform: rotate(-6deg);
  background-color: rgba(235, 227, 255, 0.19);
}
.orderButton span {
  position: absolute;
  transform: rotate(6deg);
}

/*# sourceMappingURL=main.css.map */
