* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a,
pre,
button,
input {
  font: inherit;
  color: inherit;
}

a,
address {
  text-decoration: none;
}

a,
button {
  background-color: transparent;
}
a:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

ul {
  padding-left: 0;
  list-style: none;
}

@font-face {
  font-family: "Le Murmure";
  src: url(/fonts/le-murmure-600.woff2) format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Floreste";
  src: url(/fonts/floreste-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/euclid-circular-a-700.woff2) format(woff2);
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/euclid-circular-a-500.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/euclid-circular-a-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url(/fonts/circe-700.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url(/fonts/circe-350.woff2) format(woff2);
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(/fonts/gilroy-500.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  position: relative;
  background-color: rgb(174, 151, 232);
}
body > div {
  position: absolute;
  width: 100%;
}
body.noScroll {
  overflow-y: hidden;
}

.root {
  z-index: 0;
  scrollbar-gutter: stable;
}

.modalRoot {
  z-index: 100;
  scrollbar-gutter: unset;
}
.modalRoot > * {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
.modalRoot > *.open, .modalRoot > *.unclosable {
  pointer-events: all;
}
.modalRoot > *.unclosable {
  opacity: 1;
  transform: scale(1);
}
.modalRoot > *.open {
  animation: openModal 800ms ease forwards;
}
@keyframes openModal {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.modalRoot > *.closed {
  animation: closeModal 300ms ease forwards;
}
@keyframes closeModal {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.modalRoot > *.fullscreen {
  position: fixed;
}
.modalRoot > *:not(.fullscreen) {
  top: 115px;
  right: 61px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.price :nth-child(1) {
  align-self: flex-start;
}

.number {
  font-family: "Floreste";
  font-size: clamp(1.75rem, 1.5428921569rem + 0.8496732026vw, 2.5625rem);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.buyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  background-color: transparent;
}
.buyButton .title {
  font-family: "Euclid Circular A";
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  z-index: 4;
  color: rgb(255, 255, 255);
}
.buyButton svg {
  z-index: 4;
  width: clamp(1.25rem, 1.1862745098rem + 0.2614379085vw, 1.5rem);
  height: clamp(1.25rem, 1.1862745098rem + 0.2614379085vw, 1.5rem);
}

hr {
  height: 2px;
  width: 100%;
  background-color: rgb(217, 255, 90);
  margin-top: 22px;
  margin-bottom: 22px;
}

.formInput {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  width: 100%;
  padding-bottom: 19px;
  border-bottom: 2px solid rgb(217, 255, 90);
  color: rgb(255, 255, 255);
  background-color: transparent;
}
.formInput:user-invalid {
  border-bottom-color: red;
}
.formInput::placeholder {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin: 170px 60px;
  line-height: 1;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.blog > ul {
  display: flex;
  gap: 30px;
}
@media (width <= 500px) {
  .blog > ul {
    margin-left: 15px;
    margin-right: 15px;
  }
  .blog > ul > :not(:nth-child(1)) {
    display: none;
  }
}
@media (width <= 500px) {
  .blog {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.blogTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.blogPaginator {
  display: flex;
  align-items: center;
  gap: 45px;
}

.blogTitle {
  display: inline-flex;
  align-items: center;
  height: 43px;
  font-size: clamp(1.4375rem, 0.8480392157rem + 2.4183006536vw, 3.75rem);
}

.paginatorDotsWrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

.paginatorDot {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.paginatorDot.selected {
  background-color: rgb(255, 255, 255);
}

.blogSlider {
  display: flex;
  align-items: center;
}

.sliderNumber {
  height: 28px;
  font-family: "Floreste";
  font-weight: 400;
  font-size: clamp(1.75rem, 1.5428921569rem + 0.8496732026vw, 2.5625rem);
}

.sliderHr {
  width: 63px;
  height: 2px;
  margin-left: 27px;
  margin-right: 35px;
  background-color: rgb(203, 182, 255);
}

.blogCard {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 14px;
  width: 580px;
  height: 376px;
}
.blogCard:hover .cardButton {
  background-color: rgb(217, 255, 90);
}
.blogCard:hover .cardButton .number, .blogCard:hover .cardButton .buttonText {
  color: rgb(174, 151, 232);
}

.cardBackground {
  position: absolute;
  z-index: -1;
}

.cardButton {
  position: absolute;
  bottom: 0;
  left: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 81px;
  border: 2px solid rgb(217, 255, 90);
  border-radius: 50%;
  background-color: var(--color-white-alsmost-transparent);
  transform: rotate(-15deg);
  backdrop-filter: blur(20px);
  transition-property: background-color, color;
  transition-duration: 800ms;
  transition-timing-function: ease;
}
.cardButton .number {
  height: 28px;
}

.buttonText {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.cardLeft,
.cardRight {
  display: flex;
  flex-direction: column;
  width: 283px;
  height: 342px;
}

.cardLeft {
  padding: 25px;
}

.cardRight {
  padding: 13px;
}
.cardRight .imgWrapper {
  border-radius: 28px;
  overflow: hidden;
}
.cardRight .imgWrapper img {
  object-fit: cover;
  max-width: 200%;
  max-height: 100%;
  transition: transform 600ms ease-out;
  transform-origin: right;
}
.cardRight .imgWrapper img:hover {
  transform: scale(1.1) translate(3%);
}

.topTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 36px;
  margin-bottom: 31px;
}

.topTitleNumber {
  color: rgb(255, 255, 255);
}

.topTitleAuthor {
  width: 90px;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  text-transform: capitalize;
  text-align: right;
}

.middleTitle {
  font-size: clamp(1.4375rem, 1.3578431373rem + 0.3267973856vw, 1.75rem);
  line-height: 1.29;
  margin-bottom: 88px;
}

.bottomTitle {
  width: 82px;
  height: 29px;
  text-align: left;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 882px;
  height: 1201px;
  margin-left: 60px;
}
.order button {
  width: 100%;
  margin-top: -4px;
}
.order input {
  width: 100%;
  padding-bottom: 11px;
}
.order input::placeholder {
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
}
.order h1 {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 41px;
  margin-bottom: 34px;
  color: rgb(255, 255, 255);
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(1.4375rem, 0.8480392157rem + 2.4183006536vw, 3.75rem);
  text-transform: uppercase;
}
.order .buyButton {
  position: relative;
  align-self: flex-start;
  margin-top: 59px;
  width: 189px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  line-height: 1.2;
}
.order .buyButton::after {
  content: "";
  position: absolute;
  width: 189px;
  height: 93px;
  border: 2px solid rgb(217, 255, 90);
  border-radius: 50%;
  transform: rotate(-13deg);
  background-color: rgba(255, 255, 255, 0.2);
}

.total {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 241px;
  color: rgb(255, 255, 255);
  font-family: "Euclid Circular A";
  font-weight: 500;
}
.total .number {
  font-family: "Floreste";
  font-weight: 400;
  font-size: clamp(1.75rem, 1.5428921569rem + 0.8496732026vw, 2.5625rem);
  letter-spacing: 0.04em;
}
.total .currency {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  transform: translate(0, -40%);
}
.total::after {
  content: "";
  position: absolute;
  border: 2px solid rgb(217, 255, 90);
  border-radius: 50%;
  width: 241px;
  height: 111px;
  transform: rotate(-13deg);
  background-color: rgba(235, 227, 255, 0.19);
}

.sum {
  display: inline-flex;
  align-items: center;
  text-transform: lowercase;
}

.orderSuccess {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 145px;
  width: 100%;
  height: 100%;
}
.orderSuccess > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  height: 23px;
  margin-top: 322px;
  padding: 0 60px;
  color: rgb(255, 255, 255);
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.orderSuccess > div:nth-child(1) span:nth-child(1) {
  animation: slideLeft 800ms ease;
}
.orderSuccess > div:nth-child(1) span:nth-child(2) {
  animation: slideRight 800ms ease;
}
.orderSuccess > div:nth-child(2) {
  text-align: center;
  overflow-x: hidden;
}
.orderSuccess > div:nth-child(2) span {
  color: rgba(203, 182, 255, 0.6);
  font-family: "Floreste";
  font-weight: 400;
  font-size: clamp(4.1875rem, 1.8774509804rem + 9.477124183vw, 13.25rem);
  text-transform: uppercase;
  text-wrap: nowrap;
}
.orderSuccess img {
  position: absolute;
  animation: successful 800ms ease;
}
.orderSuccess img:nth-child(3) {
  top: 181px;
  left: 50%;
  height: 759px;
  transform: translate(-50%);
}
.orderSuccess img:nth-child(4) {
  top: 540px;
  left: 112px;
  height: 224px;
}
.orderSuccess img:nth-child(5) {
  top: 686px;
  left: 500px;
  height: 200px;
  transform: rotate(-13deg);
}
.orderSuccess img:nth-child(6) {
  top: 524px;
  left: 1315px;
  height: 258px;
  transform: rotate(7deg);
}
.orderSuccess img:nth-child(7) {
  top: 725px;
  left: 1665px;
  height: 197px;
  transform: rotate(17deg);
}
@keyframes successful {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    margin-left: 100px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    margin-right: 100px;
    opacity: 0;
  }
  to {
    margin-right: 0;
    opacity: 1;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: auto;
  margin-top: 53px;
  margin-left: 60px;
  margin-right: 123px;
}
@media (width < 760px) {
  header {
    margin-top: 26px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
header ul {
  display: flex;
}
header ul > :nth-child(1) {
  flex-grow: 0;
  font-family: "Le Murmure", sans-serif;
  font-size: clamp(2.0625rem, 1.8713235294rem + 0.7843137255vw, 2.8125rem);
  font-weight: 600;
  text-wrap: nowrap;
}
header ul > :nth-child(2) {
  flex-grow: 133;
}
header ul > :nth-child(3),
header ul > :nth-child(5) {
  flex-grow: 386;
}
header ul > :nth-child(4) {
  flex-grow: 30;
}
header ul > :nth-child(4) svg {
  display: none;
}
header ul > :nth-child(6) {
  flex-grow: 250;
  position: relative;
}
header ul > :nth-child(7),
header ul > :nth-child(8) {
  flex-grow: 40;
}
header ul > :nth-child(6) button,
header ul > :nth-child(8) button {
  gap: 0;
}
header ul > :nth-child(6) span,
header ul > :nth-child(8) span {
  align-self: flex-end;
  padding-bottom: 9px;
  font-size: 13px;
  font-weight: 700;
}
@media (width < 901px) {
  header ul > :nth-child(2),
  header ul > :nth-child(3) {
    display: none;
  }
  header ul > :nth-child(4) {
    flex-grow: 17;
  }
  header ul > :nth-child(5) {
    flex-grow: 92;
  }
  header ul > :nth-child(7) {
    flex-grow: 21;
  }
  header ul > :nth-child(6) {
    flex-grow: 24;
  }
  header ul > :nth-child(8) {
    order: 4;
    flex-grow: 21;
  }
  header ul > :nth-child(4) {
    order: 8;
  }
  header ul > :nth-child(4) svg {
    display: flex;
  }
  header ul > :nth-child(n+2):nth-child(-n+5) span,
  header ul > :nth-child(n+2):nth-child(-n+5) a {
    display: none;
  }
}
header li {
  display: flex;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 500;
}
header button,
header a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.mainFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
  margin-bottom: 101px;
  margin-left: 67px;
  margin-right: 56px;
}
@media (width <= 500px) {
  .mainFooter {
    flex-direction: column-reverse;
    gap: 18px;
    justify-content: center;
    margin-bottom: 70px;
  }
  .mainFooter span {
    letter-spacing: 0;
  }
  .mainFooter .footerLogo {
    display: block;
  }
  .mainFooter > :nth-child(2) {
    width: 98px;
    line-height: 20px;
  }
}

.text {
  font-family: "Gilroy";
  font-size: var(--font-size-all-rights-resereved);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: rgb(255, 255, 255);
}

.footerLogo {
  position: absolute;
  bottom: 59px;
  right: 15px;
  display: none;
  transform: rotate(-15deg);
}

.banner {
  margin: 20px;
}
.banner ul {
  display: flex;
  gap: 20px;
}
@media (width < 1485px) {
  .banner ul > :nth-child(3) {
    display: none;
  }
}
@media (width < 901px) {
  .banner ul > :nth-child(1):not(.collapsed) {
    border-radius: 0;
  }
  .banner ul > :nth-child(1) hr {
    display: none;
  }
  .banner ul > :nth-child(1) .title {
    margin-bottom: 14px;
  }
  .banner ul > :nth-child(1) .text {
    margin-bottom: 35px;
    line-height: 20px;
  }
  .banner ul > :nth-child(2) {
    display: none;
  }
}
@media (width <= 500px) {
  .banner {
    margin: 15px;
  }
}

.bannerItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: flex-grow 800ms ease-out;
  flex-grow: 340;
  height: clamp(41.375rem, 35.3848039216rem + 24.5751633987vw, 64.875rem);
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.bannerItem.expdanded {
  animation: bannerItemExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded img {
  animation: imageExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .buyButton {
  animation: buttonHoist 1.9s ease-out forwards;
}
.bannerItem.expdanded .preview {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.bannerItem.expdanded .details {
  animation: detailsExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .details .productOfTheDay {
  animation: productOfTheDayExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .details .backgroundText {
  animation: backgroundTextExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .details .description {
  animation: descriptionExpand 1.9s ease-out forwards;
}
.bannerItem.collapsed {
  animation: bannerItemCollapse 1.9s ease-out forwards;
}
.bannerItem.collapsed img {
  animation: imageCollapse 800ms ease-out forwards;
}
.bannerItem.collapsed .buyButton {
  opacity: 0;
  max-width: 0;
  max-height: 0;
  animation: buttonDrow 1.9s ease-out forwards;
}
.bannerItem.collapsed .details {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.bannerItem img {
  position: absolute;
  top: clamp(5.6875rem, 4.6678921569rem + 4.1830065359vw, 9.6875rem);
  z-index: 1;
  width: clamp(13.875rem, 9.5416666667rem + 17.7777777778vw, 30.875rem);
  -webkit-user-drag: none;
  user-select: none;
}
.bannerItem .buyButton {
  position: absolute;
  z-index: 2;
  width: clamp(12.875rem, 10.4852941176rem + 9.8039215686vw, 22.25rem);
  height: clamp(4.875rem, 3.9669117647rem + 3.7254901961vw, 8.4375rem);
  opacity: 0;
  background-color: transparent;
}
.bannerItem .buyButton .ellipse:nth-child(1) {
  transform: rotate(-2deg);
  z-index: 3;
}
.bannerItem .buyButton .ellipse:nth-child(2) {
  backdrop-filter: blur(150px);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
  transform: rotate(-13deg);
}
.bannerItem .buyButton .title {
  letter-spacing: 0.04em;
}
.bannerItem:nth-child(1) {
  background-color: rgb(203, 182, 255);
}
.bannerItem:nth-child(1) .backgroundText {
  color: rgba(203, 182, 255, 0.6);
}
.bannerItem:nth-child(1) .description .number {
  font-size: clamp(1.75rem, 1.5428921569rem + 0.8496732026vw, 2.5625rem);
  color: rgb(217, 255, 90);
}
.bannerItem:nth-child(1).expdanded {
  background-color: transparent;
}
.bannerItem:nth-child(2) {
  background-color: rgb(250, 143, 239);
}
.bannerItem:nth-child(2) .backgroundText {
  color: rgb(255, 168, 246);
  font-size: clamp(4.1875rem, 1.9889705882rem + 9.0196078431vw, 12.8125rem);
}
.bannerItem:nth-child(3) {
  background-color: rgb(174, 207, 255);
}
.bannerItem:nth-child(3) .backgroundText {
  color: rgb(190, 216, 255);
}

.productOfTheDay {
  position: absolute;
  top: clamp(12.5rem, 9.2181372549rem + 13.4640522876vw, 25.375rem);
  left: clamp(-5.625rem, -8.0147058824rem + 9.8039215686vw, 3.75rem);
  font-family: "Euclid Circular A";
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(217, 255, 90);
}
@media (900px < width < 1485px) {
  .productOfTheDay {
    left: clamp(-1.875rem, -5.0612745098rem + 13.0718954248vw, 10.625rem);
  }
}
@media (width < 901px) {
  .productOfTheDay {
    top: clamp(19.8125rem, 15.3039215686rem + 18.4967320261vw, 37.5rem);
    left: clamp(0rem, -6.2132352941rem + 25.4901960784vw, 24.375rem);
  }
}

.backgroundText {
  position: absolute;
  top: clamp(14.625rem, 11.0245098039rem + 14.7712418301vw, 28.75rem);
  font-family: "Floreste";
  font-size: clamp(4.1875rem, 1.8774509804rem + 9.477124183vw, 13.25rem);
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
  will-change: contents;
}
@keyframes backgroundTextExpand {
  0% {
    transform: translateX(-50%) scale(0.33);
  }
  50% {
    transform: translateX(-50%) scale(1.01);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

.preview {
  position: absolute;
  bottom: 103px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 42px;
  text-align: center;
  height: fit-content;
  width: fit-content;
}
.preview .title {
  font-family: "Euclid Circular A";
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.details {
  display: flex;
  opacity: 0;
}
.details > div:nth-child(4) {
  position: absolute;
  top: clamp(30.5625rem, 25.6078431373rem + 20.3267973856vw, 50rem);
  right: clamp(0rem, -0.7965686275rem + 3.2679738562vw, 3.125rem);
  display: none;
  width: 52px;
  height: 143px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: rgb(174, 151, 232);
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}
.details > div:nth-child(4) span {
  display: inline-flex;
  height: 18px;
  font-family: "Floreste";
  font-weight: 40;
  font-size: 25px;
  letter-spacing: 0.04em;
}
.details > div:nth-child(4) div {
  height: 36px;
  width: 1px;
  background-color: rgb(174, 151, 232);
}
@media (width < 901px) {
  .details > div:nth-child(4) {
    display: flex;
  }
}

.description {
  position: absolute;
  top: clamp(30.25rem, 26.6335784314rem + 14.8366013072vw, 44.4375rem);
  left: clamp(0rem, -0.6531862745rem + 2.6797385621vw, 2.5625rem);
  bottom: 103px;
  height: fit-content;
  width: clamp(13.875rem, 13.0306372549rem + 3.4640522876vw, 17.1875rem);
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Euclid Circular A";
  font-weight: 500;
}
.description .title {
  text-transform: uppercase;
  font-size: clamp(1.4375rem, 1.3578431373rem + 0.3267973856vw, 1.75rem);
  margin-bottom: 18px;
}
.description .text {
  display: inline-flex;
  align-items: center;
  width: clamp(15.625rem, 14.3504901961rem + 5.2287581699vw, 20.625rem);
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  line-height: 100%;
}
.description .hr {
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
  width: auto;
  margin: 28px 0;
}

.currency {
  font-family: "Euclid Circular A";
  font-weight: 400;
  font-size: clamp(0.9375rem, 0.8578431373rem + 0.3267973856vw, 1.25rem);
  text-transform: uppercase;
}

.ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: inherit;
  height: inherit;
  border: 2px solid rgb(217, 255, 90);
  border-radius: 50%;
}

@keyframes bannerItemExpand {
  0% {
    flex-grow: 340;
  }
  50% {
    flex-grow: 1230;
  }
  100% {
    flex-grow: 1160;
  }
}
@keyframes bannerItemCollapse {
  to {
    flex-grow: 340;
  }
}
@keyframes imageExpand {
  0% {
    transform: scale(0.47) rotate(7deg);
  }
  50% {
    transform: scale(1.02) rotate(0);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@keyframes imageCollapse {
  to {
    transform: scale(0.47) rotate(7deg);
  }
}
@keyframes buttonHoist {
  0% {
    opacity: 0;
    top: clamp(29.125rem, 19.6617647059rem + 38.8235294118vw, 66.25rem);
    right: clamp(0.8125rem, 0.0318627451rem + 3.2026143791vw, 3.875rem);
  }
  50% {
    top: clamp(21.5rem, 14.8725490196rem + 27.1895424837vw, 47.5rem);
    right: clamp(0rem, -0.7965686275rem + 3.2679738562vw, 3.125rem);
  }
  100% {
    opacity: 1;
    top: clamp(22.625rem, 15.9975490196rem + 27.1895424837vw, 48.625rem);
    right: clamp(0rem, -0.7965686275rem + 3.2679738562vw, 3.125rem);
  }
}
@keyframes buttonDrow {
  to {
    top: 1060px;
    right: 62px;
  }
}
@keyframes productOfTheDayExpand {
  0% {
    transform: scale(0.33);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes detailsExpand {
  to {
    opacity: 1;
  }
}
@keyframes descriptionExpand {
  0% {
    transform: translate(50%);
  }
  50% {
    transform: translate(-1%);
  }
  100% {
    transform: translate(0);
  }
}
.stripes {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 261px;
  margin: 170px 0;
  overflow-x: hidden;
}

.srtipe {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 67px;
  height: 72px;
  top: 50%;
  font-family: "Floreste";
  font-size: clamp(1.75rem, 1.5428921569rem + 0.8496732026vw, 2.5625rem);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-wrap: nowrap;
}
.srtipe:nth-child(1) {
  transform: translate(-33px, -50%) rotate(5deg);
  background-color: rgb(203, 182, 255);
}
.srtipe:nth-child(2) {
  transform: translate(-190px, -50%) rotate(-2.2deg);
  background-color: rgb(174, 207, 255);
}
.srtipe span {
  transform: translate(0, 10%);
}

.categories {
  display: flex;
  flex-direction: column;
  margin: 170px 60px;
  text-align: center;
}
.categories h1 {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(1.4375rem, 0.8480392157rem + 2.4183006536vw, 3.75rem);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.categories > ul {
  display: flex;
  gap: 30px;
  margin-top: 70px;
  overflow-x: scroll;
}
.categories > ul::-webkit-scrollbar {
  display: none;
}
@media (width <= 500px) {
  .categories {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.categoryCard {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 428px;
  height: 517px;
  cursor: pointer;
}
.categoryCard h2 {
  position: absolute;
  top: 37px;
  width: 184px;
  text-align: left;
}
.categoryCard:hover:nth-child(2) .curvedText {
  fill: rgb(217, 255, 90);
}
.categoryCard:hover img {
  transform: scale(1.1);
}
.categoryCard:hover .categoryQuanity .quanityTextWrapper {
  transform: rotate(0);
}
.categoryCard:hover .circleButton {
  background-color: rgb(217, 255, 90);
}
.categoryCard:hover .circleButton svg {
  stroke: rgb(174, 151, 232);
}

h2 {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(1.4375rem, 1.3578431373rem + 0.3267973856vw, 1.75rem);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.categoryPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin-left: 5px;
}
.categoryPreview img {
  position: absolute;
  height: 248px;
  transition: transform 300ms ease-in-out;
}
.categoryPreview svg {
  z-index: -1;
}

.curvedText {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.625rem, 0.5294117647rem + 0.3921568627vw, 1rem);
  fill: rgb(255, 255, 255);
  letter-spacing: 0.12em;
  vertical-align: baseline;
  text-transform: lowercase;
}

.categoryQuanity {
  position: absolute;
  right: 0;
  top: 29.2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quanityTextWrapper {
  position: absolute;
  top: 29%;
  transition: transform 450ms ease-out;
  transform: rotate(-23deg);
}

.quanityMeasure {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.7806372549rem + 0.1307189542vw, 0.9375rem);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.quanityBackground {
  z-index: -1;
}

.circleButton {
  position: absolute;
  left: 147.5px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101px;
  height: 101px;
  border: 2px solid rgb(217, 255, 90);
  border-radius: 100%;
  background-color: rgba(235, 227, 255, 0.2);
  transition: background-color 500ms ease-out;
}
.circleButton svg {
  stroke: rgb(217, 255, 90);
  transition: stroke 200ms ease-out;
}

.category {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  margin-top: 60px;
  width: 100%;
  font-family: "Euclid Circular A";
  font-weight: 500;
  color: rgb(255, 255, 255);
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.category.expanded {
  opacity: 1;
  max-width: none;
  max-height: none;
}
.category.expanded .menu {
  max-width: none;
  max-height: none;
}
.category .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 0;
  max-height: 0;
}
.category .menu > span {
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hoverableRect {
  fill: transparent;
  transition: fill 200ms ease;
}

summary {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  text-transform: uppercase;
  user-select: none;
  list-style: none;
  cursor: pointer;
}
summary:hover .hoverableRect {
  fill: rgb(217, 255, 90);
}

.filters {
  position: relative;
  line-height: 1.5;
  z-index: 11;
}
.filters[open] > ul {
  margin-top: 32px;
}
.filters > ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 320px;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  line-height: 1.5;
  text-align: left;
}
.filters > ul > li {
  display: flex;
  flex-direction: column;
  padding: 22px 30px 24px;
  border-radius: 40px;
  background-color: rgb(203, 182, 255);
}

.priceFilter {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.priceFilter label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 40px;
  border-radius: 11px;
  font-family: "Euclid Circular A";
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  font-weight: 500;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(174, 151, 232);
  outline: none;
  cursor: default;
}

.displays {
  display: flex;
  gap: 14px;
}

.slider {
  position: relative;
  height: 3px;
  width: 100%;
  margin: 11px 0;
  border-radius: 72px;
  background-color: rgb(255, 255, 255);
}
.slider .thumbDotMin,
.slider .thumbDotMax {
  position: absolute;
  top: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: rgb(217, 255, 90);
  z-index: 1;
  pointer-events: none;
}
.slider .thumbDotMin {
  left: calc(7px + var(--min-thumb-dot-position));
  z-index: 0;
}
.slider .thumbDotMax {
  left: calc(7px + var(--max-thumb-dot-position));
}
.slider input[type=range] {
  position: absolute;
  width: 100%;
  height: 3px;
  background: none;
  pointer-events: none;
  appearance: none;
}
.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid rgb(217, 255, 90);
  background-color: rgb(174, 151, 232);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 2px 4px 13px 0px rgb(174, 151, 232);
}
.slider input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(217, 255, 90);
  background-color: rgb(174, 151, 232);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 2px 4px 13px 0px rgb(174, 151, 232);
}
.slider::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: rgb(217, 255, 90);
  left: var(--min-thumb-position);
  right: calc(100% - var(--max-thumb-position));
}

.colorFilter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.colorFilter ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.colorFilter ul li {
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
}
.colorFilter ul li input {
  content: "";
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: 2px solid rgb(174, 151, 232);
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 200ms ease;
  user-select: none;
  cursor: pointer;
}
.colorFilter ul li input:checked {
  content: "";
  border: 2px solid rgb(174, 151, 232);
  background-color: rgb(217, 255, 90);
}
.colorFilter ul li pre {
  font-family: "Euclid Circular A";
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
}
.colorFilter ul li span {
  color: rgba(255, 255, 255, 0.6);
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  max-height: 415px;
  row-gap: 70px;
  column-gap: 103px;
  list-style: none;
  opacity: 1;
  transition: opacity 800ms ease;
}
.productsList.disabled {
  display: none;
}
.productsList:not(.open) {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.productsList.expanded {
  max-height: none;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 274px;
  height: 415px;
}
.product > .color {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 22px;
  height: 22px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
}
.product > .color.blue {
  background-color: rgb(165, 212, 255);
}
.product > .color.lavender {
  background-color: rgb(240, 179, 234);
}
.product > .color.orange {
  background-color: rgb(251, 228, 202);
}
.product > .color.gold {
  background-color: rgb(255, 196, 165);
}
.product > .color.green {
  background-color: rgb(136, 227, 121);
}
.product > .color.pink {
  background-color: rgb(250, 142, 239);
}
.product > .color.cyan {
  background-color: rgb(41, 208, 217);
}
.product > .color.sky {
  background-color: rgb(41, 208, 217);
}
.product > .color.black {
  background-color: rgb(92, 84, 74);
}
.product > .color.ohra {
  background-color: rgb(240, 223, 179);
}
.product > .color.gray {
  background-color: rgb(202, 207, 251);
}
.product .imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  margin-bottom: 32px;
  cursor: pointer;
}
.product .imgWrapper img {
  width: auto;
  height: 100%;
}
.product p {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  line-height: 23px;
  margin-bottom: 7px;
  color: rgb(255, 255, 255);
}
.product .sale {
  display: flex;
  justify-content: space-between;
}
.product .sale .price {
  display: inline-flex;
  align-items: flex-end;
  font-family: "Floreste";
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1;
  transform: translate(0, 26.5%);
}
.product .sale .number {
  font-size: clamp(1.4375rem, 1.3578431373rem + 0.3267973856vw, 1.75rem);
}
.product .sale .currency {
  align-self: flex-start;
  font-size: clamp(0.9375rem, 0.8578431373rem + 0.3267973856vw, 1.25rem);
  transform: translate(50%, -10%);
}
.product .sale .buyButton {
  align-items: flex-end;
}

.productHr {
  height: 2px;
  width: auto;
  background-color: rgb(217, 255, 90);
  margin-bottom: 28px;
}

.moreButton {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  color: rgb(255, 255, 255);
  background-color: transparent;
}
.moreButton:not(.expanded) {
  display: none;
}
.moreButton div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transform: translate(0, 15%);
}
.moreButton::after {
  content: "";
  z-index: -1;
  width: 319px;
  height: 135px;
  border: 2px solid rgb(217, 255, 90);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: rotate(-13deg);
  backdrop-filter: blur(30px);
}

.searchResults {
  display: flex;
  flex-direction: column;
  gap: 118px;
  margin: 280px 60px 0;
}
.searchResults .currency {
  color: getColor("white");
}
.searchResults h2:not(:nth-child(1)),
.searchResults p {
  text-align: center;
}
.searchResults.noresults {
  margin-top: 362px;
  gap: 156px;
}
.searchResults.noresults h2 {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: getFontSize("h2");
  color: getColor("white");
}
.searchResults.noresults span {
  font-family: "Floreste";
  font-weight: 400;
  font-size: getFontSize("background");
  text-align: center;
  text-transform: uppercase;
  color: getColor("lavender-light-0.6");
}
.searchResults.noresults img {
  position: absolute;
  top: 620px;
  left: 47.7%;
  width: 195px;
}

.cartModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 619px;
  border-radius: 30px;
  padding: 48px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(51, 32, 101, 0.18);
  backdrop-filter: blur(200px);
  pointer-events: none;
}
.cartModal.inOrder {
  opacity: 1;
  pointer-events: all;
  margin: 0;
}
.cartModal.inOrder .innerButtonsWrapper {
  display: none;
}
.cartModal.inOrder .products {
  margin-bottom: 60px;
}
.cartModal.inOrder .cartBottom {
  height: 122px;
}
.cartModal > .title {
  margin-bottom: 53px;
  letter-spacing: 0.1em;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
}
.cartModal .currency {
  display: inline-flex;
  align-items: center;
  height: 14px;
  font-size: clamp(0.9375rem, 0.8578431373rem + 0.3267973856vw, 1.25rem);
}
.cartModal > .closeButton {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: transparent;
}
.cartModal .products {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 83px;
}
.cartModal .products .product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 522px;
  height: 145px;
}
.cartModal .products .product img {
  max-width: 129px;
  height: 142px;
}

.productInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 393px;
}
.productInner svg {
  margin-top: 4px;
}

.deleteButton {
  display: flex;
  background-color: transparent;
}

.innerDescription {
  display: flex;
  justify-content: space-between;
}
.innerDescription div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  height: 51px;
}
.innerDescription div .text {
  display: inline-flex;
  align-items: center;
  height: 13px;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  text-transform: none;
}
.innerDescription div div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 11px;
}
.innerDescription div div .color {
  width: 14px;
  height: 14px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
}
.innerDescription div div .color.cyan {
  background-color: rgb(41, 208, 217);
}
.innerDescription div div .color.ohra {
  background-color: rgb(255, 196, 165);
}
.innerDescription div div .color.pink {
  background-color: rgb(250, 142, 239);
}
.innerDescription div div title {
  font-size: 20px;
  text-transform: uppercase;
}

.innerBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.innerBottom .price {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  height: 20px;
  margin-bottom: 9px;
}
.innerBottom .number {
  position: relative;
  top: -0.5px;
  display: inline-flex;
  height: inherit;
  font-size: 28px;
}

.innerButtonsWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.innerButtonsWrapper span {
  font-size: --font-size-text;
}
.innerButtonsWrapper button {
  width: 45px;
  height: 45px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
}
.innerButtonsWrapper button:disabled {
  cursor: default;
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}
.innerButtonsWrapper button:nth-child(1)::after {
  content: "-";
}
.innerButtonsWrapper button:nth-child(3)::after {
  content: "+";
}

.cartBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
}
.cartBottom .number {
  position: relative;
  top: -1px;
  height: 28px;
}

.orderSum {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}
.orderSum div {
  display: flex;
  gap: 7px;
}

.orderButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 189px;
  color: rgb(255, 255, 255);
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  line-height: 1.2;
  text-align: center;
  background-color: transparent;
}
.orderButton a {
  z-index: 1;
}
.orderButton::after {
  content: "";
  position: absolute;
  border: 2px solid rgb(217, 255, 90);
  border-radius: 50%;
  width: 189px;
  height: 93px;
  transform: rotate(-6deg);
  background-color: rgba(235, 227, 255, 0.19);
}

.productModal {
  position: fixed;
  z-index: 11;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 60px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(174, 151, 232);
}
.productModal .currency {
  display: inline-flex;
  align-items: center;
  height: 14px;
  font-size: clamp(0.9375rem, 0.8578431373rem + 0.3267973856vw, 1.25rem);
}
.productModal img {
  position: absolute;
  top: 96px;
  left: 50%;
  z-index: 1;
  height: 666px;
  transform: translate(-50%);
}
.productModal > div {
  display: flex;
  justify-content: space-between;
}
.productModal > div:nth-child(1) {
  margin-bottom: 74px;
  height: 23px;
}
.productModal > div:nth-child(1) span {
  letter-spacing: 0.1em;
}
.productModal > div:nth-child(1) svg {
  align-self: flex-start;
}
.productModal > div:nth-child(2) {
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  height: 79px;
  margin-bottom: 73px;
}
.productModal > div:nth-child(2) button {
  border-radius: 100%;
  background-color: transparent;
}
.productModal > div:nth-child(2) button .hearth {
  stroke: transparent;
  fill: transparent;
}
.productModal > div:nth-child(2) button path {
  fill: rgb(217, 255, 90);
  transition-property: fill;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.productModal > div:nth-child(2) button circle {
  stroke: rgb(217, 255, 90);
  transition-property: stroke;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.productModal > div:nth-child(2) button.pressed .hearth {
  stroke: rgb(255, 177, 247);
  fill: rgb(255, 255, 255);
}
.productModal > div:nth-child(2) button.pressed path {
  fill: transparent;
}
.productModal > div:nth-child(2) button.pressed circle {
  stroke: rgb(255, 177, 247);
}
.productModal > div:nth-child(3) {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  font-size: 18px;
  letter-spacing: 0.1em;
  height: 23px;
}
.productModal > div:nth-child(3) > div:nth-child(1) {
  display: flex;
  height: 23px;
}
.productModal > div:nth-child(3) > div:nth-child(1) > span:nth-child(1) {
  margin-right: 30px;
}
.productModal > div:nth-child(3) > div:nth-child(1) div {
  margin-right: 12px;
}
.productModal > div:nth-child(3) .color {
  width: 22px;
  height: 22px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 100%;
  background-color: rgb(147, 129, 216);
}
.productModal > div:nth-child(4) {
  justify-content: center;
  height: 248px;
  margin-bottom: 115px;
  font-family: "Floreste";
  font-weight: 400;
  font-size: 354px;
  text-transform: uppercase;
  text-wrap: nowrap;
  color: rgba(203, 182, 255, 0.4);
}
.productModal > div:nth-child(4) span {
  transform: translate(0, -10px);
}
.productModal > div:nth-child(5) {
  align-items: center;
}
.productModal > div:nth-child(5) > div:nth-child(1) {
  width: 346px;
  margin-right: 10px;
  line-height: 1.54;
  font-size: 20px;
  text-transform: none;
}
.productModal > div:nth-child(5) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-family: "Floreste";
  font-size: 100px;
}
.productModal > div:nth-child(5) > div:nth-child(2) > span {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  height: 70px;
  text-wrap: nowrap;
  transform: translate(0, -5%);
}
.productModal > div:nth-child(5) > div:nth-child(2) > div {
  display: flex;
  justify-content: center;
  height: 28px;
}
.productModal > div:nth-child(5) > div:nth-child(2) > div .number,
.productModal > div:nth-child(5) > div:nth-child(2) > div .currency {
  color: rgb(217, 255, 90);
}
.productModal .closeButtonWrapper {
  justify-content: flex-end;
}
.productModal .closeButtonWrapper .closeButton {
  display: flex;
  align-items: center;
  gap: 17px;
  font: inherit;
  text-transform: uppercase;
  color: rgba(218, 209, 242, 0.815);
  background-color: transparent;
}
.productModal .buyButton {
  position: relative;
  width: 357px;
  height: 156px;
  background-color: transparent;
}
.productModal .buyButton .ellipse {
  top: 50%;
  left: 50%;
  width: 356px;
  height: 135px;
  transform: translate(-50%, -50%);
}
.productModal .buyButton .ellipse:nth-child(1) {
  z-index: 3;
  transform: rotate(-2deg);
}
.productModal .buyButton .ellipse:nth-child(2) {
  backdrop-filter: blur(150px);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
  transform: rotate(-13deg);
}
.productModal .buyButton .title {
  letter-spacing: 0.04em;
}

.favouritesModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 619px;
  border-radius: 30px;
  padding: 48px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(51, 32, 101, 0.18);
  backdrop-filter: blur(200px);
}
.favouritesModal > .title {
  margin-bottom: 53px;
  letter-spacing: 0.1em;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
}
.favouritesModal .currency {
  display: inline-flex;
  align-items: center;
  height: 14px;
  font-size: clamp(0.9375rem, 0.8578431373rem + 0.3267973856vw, 1.25rem);
}
.favouritesModal > .closeButton {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: transparent;
}
.favouritesModal .products {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.favouritesModal .products .product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 522px;
  height: 145px;
}
.favouritesModal .products .product img {
  max-width: 129px;
  height: 142px;
}

.productInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 393px;
}
.productInner svg {
  margin-top: 0;
}

.deleteButton {
  display: flex;
  background-color: transparent;
}

.innerDescription {
  display: flex;
  justify-content: space-between;
}
.innerDescription .favouriteButton {
  height: 54px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
}
.innerDescription .favouriteButton .hearth {
  stroke: transparent;
  fill: transparent;
}
.innerDescription .favouriteButton path {
  fill: rgb(217, 255, 90);
  transition-property: fill;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.innerDescription .favouriteButton circle {
  stroke: rgb(217, 255, 90);
  transition-property: stroke;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.innerDescription .favouriteButton.pressed .hearth {
  stroke: rgb(255, 177, 247);
}
.innerDescription .favouriteButton.pressed path {
  fill: rgb(255, 255, 255);
}
.innerDescription .favouriteButton.pressed circle {
  stroke: rgb(255, 177, 247);
}
.innerDescription div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  height: 51px;
}
.innerDescription div .text {
  display: inline-flex;
  align-items: center;
  height: 13px;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  text-transform: none;
}
.innerDescription div div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 11px;
}
.innerDescription div div .color {
  width: 14px;
  height: 14px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
}
.innerDescription div div .color.cyan {
  background-color: rgb(41, 208, 217);
}
.innerDescription div div .color.ohra {
  background-color: rgb(255, 196, 165);
}
.innerDescription div div .color.pink {
  background-color: rgb(250, 142, 239);
}
.innerDescription div div title {
  font-size: 20px;
  text-transform: uppercase;
}

.innerBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.innerBottom .price {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  height: 20px;
  margin-bottom: 9px;
}
.innerBottom .number {
  position: relative;
  top: -0.5px;
  display: inline-flex;
  height: inherit;
  font-size: 28px;
}

.authModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 619px;
  border-radius: 30px;
  padding: 48px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(51, 32, 101, 0.18);
  backdrop-filter: blur(200px);
}
.authModal > .title {
  margin-bottom: 66px;
  letter-spacing: 0.1em;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
}
.authModal > .closeButton {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: transparent;
}
.authModal div {
  display: flex;
}
.authModal > div:nth-child(3) {
  flex-direction: column;
  gap: 49px;
  margin-bottom: 70px;
}
.authModal > div:nth-child(4) {
  gap: 24px;
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  letter-spacing: 0.1em;
}
.authModal button[type=submit] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: transparent;
}
.authModal button[type=submit] span {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  line-height: 1.2;
}
.authModal button[type=submit]::after {
  content: "";
  width: 120px;
  height: 81px;
  border: 2px solid rgb(217, 255, 90);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: rotate(-15deg);
}
.authModal .register {
  width: fit-content;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.registerModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 619px;
  border-radius: 30px;
  padding: 48px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(51, 32, 101, 0.18);
  backdrop-filter: blur(200px);
}
.registerModal > .title {
  margin-bottom: 66px;
  letter-spacing: 0.1em;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
}
.registerModal > .closeButton {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: transparent;
}
.registerModal div {
  display: flex;
}
.registerModal > div:nth-child(3) {
  flex-direction: column;
  gap: 49px;
  margin-bottom: 70px;
}
.registerModal > div:nth-child(4) {
  gap: 24px;
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  letter-spacing: 0.1em;
}
.registerModal button[type=submit] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: transparent;
}
.registerModal button[type=submit] span {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  line-height: 1.2;
}
.registerModal button[type=submit]::after {
  content: "";
  width: 189px;
  height: 93px;
  border: 2px solid rgb(217, 255, 90);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: rotate(-6deg);
}
.registerModal .auth {
  width: fit-content;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.searchModal {
  left: 60px;
  right: 60px;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1800px;
  height: 70px;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(60px);
}
.searchModal > .closeButton {
  margin: 25px;
  background-color: transparent;
}
.searchModal input[type=text] {
  flex-grow: 1;
  height: 100%;
  min-width: 360px;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
  color: rgb(255, 255, 255);
  background-color: transparent;
  outline: none;
}
.searchModal input[type=text]::placeholder {
  color: rgb(255, 255, 255);
}
.searchModal button[type=submit] {
  margin: 7px;
  min-width: 57px;
  min-height: 57px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100%;
  background-color: rgb(174, 151, 232);
}

.contactsModal {
  position: fixed;
  z-index: 11;
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 100%;
  height: 100%;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(200px);
}
.contactsModal > div:nth-child(1), .contactsModal > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  height: 466px;
}
.contactsModal > div:nth-child(1) > div:nth-child(1) {
  width: 52.28%;
  max-width: 954px;
  display: flex;
  padding: 83px;
  padding-bottom: 74px;
  gap: 153px;
  border-top-left-radius: 50px;
  background-color: rgb(174, 151, 232);
}
.contactsModal > div:nth-child(1) .address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.7328431373rem + 0.3267973856vw, 1.125rem);
}
.contactsModal > div:nth-child(1) .address > span:nth-child(1) {
  margin-bottom: 51px;
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
.contactsModal > div:nth-child(1) .address address {
  font-style: normal;
}
.contactsModal > div:nth-child(1) .address h1 {
  display: inline-flex;
  align-items: center;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: clamp(1.4375rem, 0.8480392157rem + 2.4183006536vw, 3.75rem);
  text-transform: uppercase;
  margin-bottom: 33px;
  height: 43px;
}
.contactsModal > div:nth-child(1) .address > span:nth-child(4) {
  display: inline-flex;
  align-items: center;
  gap: 29px;
  margin-top: 122px;
}
.contactsModal > div:nth-child(1) .phone {
  display: flex;
  flex-direction: column;
}
.contactsModal > div:nth-child(1) .phone > span:nth-child(1) {
  font-size: clamp(0.75rem, 0.7022058824rem + 0.1960784314vw, 0.9375rem);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 59px;
}
.contactsModal > div:nth-child(1) .phone > span:nth-child(2) {
  display: inline-flex;
  align-items: center;
  font-family: Floreste;
  font-weight: 400;
  font-size: 40px;
  height: 28px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.contactsModal > div:nth-child(1) .phone > span:nth-child(3) {
  margin-bottom: 114px;
}
.contactsModal > div:nth-child(1) .phone div {
  display: flex;
  gap: 17px;
}
.contactsModal form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 47.72%;
  max-width: 848px;
  padding: 83px;
  border-top-right-radius: 50px;
  background-color: rgb(250, 143, 239);
}
.contactsModal form > :nth-child(1) {
  margin-bottom: 53px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}
.contactsModal form > :nth-child(2) {
  box-sizing: content-box;
  height: 11px;
  padding-bottom: 14px;
  margin-bottom: 64px;
}
.contactsModal form > :nth-child(3) {
  box-sizing: content-box;
  height: 11px;
  padding-bottom: 14px;
  margin-bottom: 59px;
}
.contactsModal form button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 93px;
  background-color: transparent;
}
.contactsModal form button span {
  position: absolute;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  line-height: 1.2;
  color: rgb(255, 255, 255);
}
.contactsModal form button::after {
  content: "";
  width: 189px;
  height: 93px;
  transform: rotate(-6deg);
  border: 2px solid rgb(217, 255, 90);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}
.contactsModal .closeButton {
  position: absolute;
  top: 91px;
  right: 89px;
  stroke: rgb(255, 255, 255);
  background-color: transparent;
}
.contactsModal #map {
  height: 537px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
