* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

button {
  cursor: pointer;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Le Murmure";
  src: url(/fonts/le-murmure-600.woff2) format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Floreste";
  src: url(/fonts/floreste-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/euclid-circular-a-500.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/euclid-circular-a-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url(/fonts/circe-700.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url(/fonts/circe-350.woff2) format(woff2);
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(/fonts/gilroy-500.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-lime: rgb(217, 255, 90);
  --color-pink: rgb(250, 143, 239);
  --color-pink-semi-transparent: rgb(255, 168, 246);
  --color-blue: rgb(174, 207, 255);
  --color-light-blue: rgb(165, 212, 255);
  --color-blue-semi-transparent: rgb(190, 216, 255);
  --color-white: rgb(255, 255, 255);
  --color-white-semi-transparent: rgba(255, 255, 255, 0.6);
  --color-white-almost-transparent: rgba(255, 255, 255, 0.2);
  --color-delete: rgb(121, 100, 174);
  --color-lavender: rgb(174, 151, 232);
  --color-lavender-highlight: rgb(203, 182, 255);
  --color-lavender-semi-transparent: rgba(203, 182, 255, 0.6);
  --color-lavender-dark: rgba(235, 227, 255, 0.2);
  --desk-font-size-h1: 60px;
  --desk-font-size-h2: 28px;
  --desk-font-size-logo: 45px;
  --desk-font-size-text: 18px;
  --desk-font-size-curve: 16px;
  --desk-font-size-button: 20px;
  --desk-font-size-numbers: 40px;
  --desk-font-size-subtitle: 15px;
  --desk-font-size-currency: 20px;
  --desk-font-size-background: 212px;
  --desk-font-size-filter-title: 18px;
  --desk-font-size-quanity-measure: 15px;
  --desk-font-size-description-text: 15px;
  --desk-font-size-filter-item-text: 18px;
  --desk-font-size-filter-item-title: 20px;
  --desk-font-size-middle-background: 205px;
  --desk-font-size-all-rights-resereved: 18px;
  --desk-font-size-text-caps-no-spacing: 18px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  max-width: 100%;
  background-color: var(--color-lavender);
}

.number {
  font-family: "Floreste";
  font-size: var(--desk-font-size-numbers);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--color-white);
}

.buyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.buyButton .title {
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-button);
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  margin-left: 12px;
  z-index: 4;
  color: var(--color-white);
}
.buyButton svg {
  z-index: 4;
}

.mainHeader {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 53px;
  margin-left: 60px;
  margin-right: 123px;
  z-index: 1;
}

.mainNav {
  display: grid;
  place-items: center;
  grid-template-areas: "mainNavList . favourites . profile . cart";
  grid-template-columns: auto minmax(18px, 247px) auto minmax(18px, 35px) auto minmax(18px, 36px) auto;
  color: var(--color-white);
}

.mainNavList {
  display: grid;
  place-items: center;
  grid-template-areas: "logo . catalog . blog . contacts . search";
  grid-template-columns: max-content minmax(18px, 133px) auto minmax(18px, 387px) auto minmax(18px, 30px) auto minmax(18px, 386px) auto;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 500;
  font-size: var(--desk-font-size-text);
}

.navButton {
  display: flex;
  background-color: transparent;
}

.logo {
  font-family: "Le Murmure", sans-serif;
  font-weight: 600;
  font-size: var(--desk-font-size-logo);
  line-height: 1em;
  grid-area: logo;
}

.catalog {
  grid-area: catalog;
}

.blog {
  grid-area: blog;
}

.contacts {
  grid-area: contacts;
}

.search {
  grid-area: search;
}

.favourites {
  grid-area: favourites;
}

.profile {
  grid-area: profile;
}

.cart {
  grid-area: cart;
}

.mainFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
  margin-bottom: 101px;
  margin-left: 67px;
  margin-right: 56px;
}

.text {
  font-family: "Gilroy";
  font-size: var(--desk-font-size-all-rights-resereved);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.banner {
  margin: 20px;
}
.banner ul {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.bannerItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-property: flex-grow;
  transition-duration: 800ms;
  transition-timing-function: ease-out;
  flex-grow: 340;
  height: 1038px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.bannerItem.expdanded {
  animation: bannerItemExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded img {
  animation: imageExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .buyButton {
  animation: buttonHoist 1.9s ease-out forwards;
}
.bannerItem.expdanded .preview {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.bannerItem.expdanded .details {
  animation: detailsExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .details .productOfTheDay {
  animation: productOfTheDayExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .details .backgroundText {
  animation: backgroundTextExpand 1.9s ease-out forwards;
}
.bannerItem.expdanded .details .description {
  animation: descriptionExpand 1.9s ease-out forwards;
}
.bannerItem.collapsed {
  animation: bannerItemCollapse 1.9s ease-out forwards;
}
.bannerItem.collapsed img {
  animation: imageCollapse 800ms ease-out forwards;
}
.bannerItem.collapsed .buyButton {
  opacity: 0;
  max-width: 0;
  max-height: 0;
  animation: buttonDrow 1.9s ease-out forwards;
}
.bannerItem.collapsed .details {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.bannerItem img {
  position: absolute;
  z-index: 1;
  -webkit-user-drag: none;
  user-select: none;
}
.bannerItem .buyButton {
  position: absolute;
  z-index: 2;
  width: 356px;
  height: 135px;
  opacity: 0;
  background-color: transparent;
}
.bannerItem .buyButton .ellipse:nth-child(1) {
  transform: rotate(-2deg);
  z-index: 3;
}
.bannerItem .buyButton .ellipse:nth-child(2) {
  backdrop-filter: blur(150px);
  background-color: var(--color-white-almost-transparent);
  z-index: 2;
  transform: rotate(-13deg);
}
.bannerItem .buyButton .title {
  letter-spacing: 0.04em;
}
.bannerItem:nth-child(1) {
  background-color: var(--color-lavender-highlight);
}
.bannerItem:nth-child(1) .backgroundText {
  color: var(--color-lavender-semi-transparent);
}
.bannerItem:nth-child(1) .description .number {
  color: var(--color-lime);
}
.bannerItem:nth-child(1).expdanded {
  background-color: transparent;
}
.bannerItem:nth-child(2) {
  background-color: var(--color-pink);
}
.bannerItem:nth-child(2) .backgroundText {
  color: var(--color-pink-semi-transparent);
  font-size: var(--desk-font-size-middle-background);
}
.bannerItem:nth-child(3) {
  background-color: var(--color-blue);
}
.bannerItem:nth-child(3) .backgroundText {
  color: var(--color-blue-semi-transparent);
}

.productOfTheDay {
  position: absolute;
  top: 386px;
  left: 60px;
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-text-caps-no-spacing);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-lime);
}

.backgroundText {
  position: absolute;
  top: 440px;
  font-family: "Floreste";
  font-size: var(--desk-font-size-background);
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
  transform: translate(-50%) scale(0.33);
}

.preview {
  position: absolute;
  bottom: 103px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 42px;
  text-align: center;
  height: fit-content;
  width: fit-content;
}
.preview .title {
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-subtitle);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-white-semi-transparent);
}

.details {
  display: flex;
  opacity: 0;
}

.description {
  position: absolute;
  left: 41px;
  bottom: 103px;
  height: fit-content;
  width: 275px;
  text-align: left;
  color: var(--color-white);
}
.description .title {
  text-transform: uppercase;
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-h2);
  font-weight: 500;
  margin-bottom: 18px;
}
.description .text {
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-description-text);
  font-weight: 500;
  line-height: 23px;
}
.description .hr {
  background-color: var(--color-white-almost-transparent);
  height: 1px;
  width: auto;
  margin: 28px 0;
}

.currency {
  font-family: "Euclid Circular A";
  font-weight: 400;
  font-size: var(--desk-font-size-currency);
  text-transform: uppercase;
}

.ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: inherit;
  height: inherit;
  border: 2px solid var(--color-lime);
  border-radius: 50%;
}

@keyframes bannerItemExpand {
  0% {
    flex-grow: 340;
  }
  50% {
    flex-grow: 1230;
  }
  100% {
    flex-grow: 1160;
  }
}
@keyframes bannerItemCollapse {
  from {
    flex-grow: auto;
  }
  to {
    flex-grow: 340;
  }
}
@keyframes imageExpand {
  0% {
    transform: scale(0.47) rotate(7deg);
  }
  50% {
    transform: scale(1.02) rotate(0);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@keyframes imageCollapse {
  to {
    transform: scale(0.47) rotate(7deg);
  }
}
@keyframes buttonHoist {
  0% {
    opacity: 0;
    top: 1060px;
    right: 62px;
  }
  50% {
    top: 760px;
    right: 50px;
  }
  100% {
    opacity: 1;
    top: 778px;
    right: 50px;
  }
}
@keyframes buttonDrow {
  to {
    top: 1060px;
    right: 62px;
  }
}
@keyframes productOfTheDayExpand {
  0% {
    transform: scale(0.33);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes backgroundTextExpand {
  0% {
    transform: translate(-50%) scale(0.33);
  }
  50% {
    transform: translate(-50%) scale(1.01);
  }
  100% {
    transform: translate(-50%) scale(1);
  }
}
@keyframes detailsExpand {
  to {
    opacity: 1;
  }
}
@keyframes descriptionExpand {
  0% {
    transform: translate(50%);
  }
  50% {
    transform: translate(-1%);
  }
  100% {
    transform: translate();
  }
}
.categories {
  display: flex;
  flex-direction: column;
  margin: 170px 60px;
  text-align: center;
}
.categories h1 {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-h1);
  color: var(--color-white);
  text-transform: uppercase;
}
.categories > ul {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.categoryCard {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 428px;
  height: 517px;
  cursor: pointer;
}
.categoryCard h2 {
  position: absolute;
  top: 37px;
  width: 184px;
  text-align: left;
}
.categoryCard:hover:nth-child(2) .curvedText {
  fill: var(--color-lime);
}
.categoryCard:hover img {
  transform: scale(1.1);
}
.categoryCard:hover .categoryQuanity .quanityTextWrapper {
  transform: rotate(0);
}
.categoryCard:hover .circleButton {
  background-color: var(--color-lime);
}
.categoryCard:hover .circleButton svg {
  stroke: var(--color-lavender);
}

h2 {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-h2);
  color: var(--color-white);
  text-transform: uppercase;
}

.categoryPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin-left: 5px;
}
.categoryPreview img {
  position: absolute;
  height: 248px;
  transition: transform 300ms ease-in-out;
}
.categoryPreview svg {
  z-index: -1;
}

.curvedText {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-curve);
  fill: var(--color-white);
  letter-spacing: 0.12em;
  vertical-align: baseline;
  text-transform: lowercase;
}

.categoryQuanity {
  position: absolute;
  right: 0;
  top: 29.2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quanityTextWrapper {
  position: absolute;
  top: 29%;
  transition: transform 450ms ease-out;
  transform: rotate(-23deg);
}

.quanityMeasure {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-quanity-measure);
  color: var(--color-white);
  text-transform: uppercase;
}

.quanityBackground {
  z-index: -1;
}

.circleButton {
  position: absolute;
  left: 34.8%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101px;
  height: 101px;
  border: 2px solid var(--color-lime);
  border-radius: 100%;
  background-color: var(--color-lavender-dark);
  transition: background-color 500ms ease-out;
}
.circleButton svg {
  stroke: var(--color-lime);
  transition: stroke 200ms ease-out;
}

.category {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  margin-top: 60px;
  width: 100%;
  font-family: "Euclid Circular A";
  font-weight: 500;
  color: var(--color-white);
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.category.expanded {
  opacity: 1;
  max-width: none;
  max-height: none;
}
.category.expanded .menu {
  max-width: none;
  max-height: none;
}
.category .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 0;
  max-height: 0;
}
.category .menu > span {
  font-size: var(--desk-font-size-subtitle);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hoverableRect {
  fill: transparent;
  transition: fill 200ms ease;
}

summary {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--desk-font-size-filter-title);
  text-transform: uppercase;
  user-select: none;
  list-style: none;
  cursor: pointer;
}
summary:hover .hoverableRect {
  fill: var(--color-lime);
}

.filters {
  position: relative;
  line-height: 1.5;
  z-index: 11;
}
.filters[open] > ul {
  margin-top: 32px;
}
.filters > ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 320px;
  font-size: var(--desk-font-size-filter-item-title);
  line-height: 1.5;
  text-align: left;
}
.filters > ul > li {
  display: flex;
  flex-direction: column;
  padding: 22px 30px 24px;
  border-radius: 40px;
  background-color: var(--color-lavender-highlight);
}

.priceFilter {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.priceFilter label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 40px;
  border-radius: 11px;
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-filter-item-text);
  font-weight: 500;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-lavender);
  outline: none;
  cursor: default;
}

.displays {
  display: flex;
  gap: 14px;
}

.slider {
  position: relative;
  height: 3px;
  width: 100%;
  margin: 11px 0;
  border-radius: 72px;
  background-color: var(--color-white);
}
.slider .thumbDotMin,
.slider .thumbDotMax {
  position: absolute;
  top: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: var(--color-lime);
  z-index: 1;
  pointer-events: none;
}
.slider .thumbDotMin {
  left: calc(7px + var(--min-thumb-dot-position));
  z-index: 0;
}
.slider .thumbDotMax {
  left: calc(7px + var(--max-thumb-dot-position));
}
.slider input[type=range] {
  position: absolute;
  width: 100%;
  height: 3px;
  background: none;
  pointer-events: none;
  appearance: none;
}
.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid var(--color-lime);
  background-color: var(--color-lavender);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 2px 4px 13px 0px var(--color-lavender);
}
.slider input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 2px solid var(--color-lime);
  background-color: var(--color-lavender);
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 2px 4px 13px 0px var(--color-lavender);
}
.slider::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--color-lime);
  left: var(--min-thumb-position);
  right: calc(100% - var(--max-thumb-position));
}

.colorFilter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.colorFilter ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.colorFilter ul li {
  font-size: var(--desk-font-size-filter-item-text);
}
.colorFilter ul li input {
  content: "";
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: 2px solid var(--color-lavender);
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 200ms ease;
  user-select: none;
  cursor: pointer;
}
.colorFilter ul li input:checked {
  content: "";
  border: 2px solid var(--color-lavender);
  background-color: var(--color-lime);
}
.colorFilter ul li pre {
  font-family: "Euclid Circular A";
  font-size: var(--desk-font-size-filter-item-text);
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
}
.colorFilter ul li span {
  color: var(--color-white-semi-transparent);
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  max-height: 415px;
  row-gap: 70px;
  column-gap: 103px;
  list-style: none;
  opacity: 1;
  transition: opacity 800ms ease;
}
.productsList.disabled {
  display: none;
}
.productsList:not(.open) {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}
.productsList.expanded {
  max-height: none;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 274px;
  height: 415px;
}
.product .imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  margin-bottom: 32px;
}
.product .imgWrapper img {
  width: auto;
  height: 100%;
}
.product p {
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-subtitle);
  line-height: 23px;
  margin-bottom: 7px;
  color: var(--color-white);
}
.product .sale {
  display: flex;
  justify-content: space-between;
}
.product .sale .price {
  display: inline-flex;
  align-items: flex-end;
  font-family: "Floreste";
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1;
  transform: translate(0, 26.5%);
}
.product .sale .number {
  font-size: var(--desk-font-size-h2);
}
.product .sale .currency {
  align-self: flex-start;
  font-size: var(--desk-font-size-currency);
  transform: translate(50%, -10%);
}
.product .sale .buyButton {
  align-items: flex-end;
}

.color {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 22px;
  height: 22px;
  border: 3px solid var(--color-white);
  border-radius: 100%;
  background-color: var(--color-white);
}
.color.blue {
  background-color: var(--color-light-blue);
}
.color.lavender {
  background-color: rgb(240, 179, 234);
}
.color.orange {
  background-color: rgb(251, 228, 202);
}
.color.gold {
  background-color: rgb(255, 196, 165);
}
.color.green {
  background-color: rgb(136, 227, 121);
}
.color.pink {
  background-color: rgb(250, 142, 239);
}
.color.cyan {
  background-color: rgb(41, 208, 217);
}
.color.sky {
  background-color: rgb(41, 208, 217);
}
.color.black {
  background-color: rgb(92, 84, 74);
}
.color.ohra {
  background-color: rgb(240, 223, 179);
}
.color.gray {
  background-color: rgb(202, 207, 251);
}

.productHr {
  height: 2px;
  width: auto;
  background-color: var(--color-lime);
  margin-bottom: 28px;
}

.moreButton {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  font-family: "Euclid Circular A";
  font-weight: 500;
  font-size: var(--desk-font-size-button);
  color: var(--color-white);
  background-color: transparent;
}
.moreButton:not(.expanded) {
  display: none;
}
.moreButton div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transform: translate(0, 15%);
}
.moreButton::after {
  content: "";
  z-index: -1;
  width: 319px;
  height: 135px;
  border: 2px solid var(--color-lime);
  border-radius: 50%;
  background-color: var(--color-white-almost-transparent);
  transform: rotate(-13deg);
  backdrop-filter: blur(30px);
}

/*# sourceMappingURL=main.css.map */
